<!doctype html>
<HTML LANG="ja">
<HEAD>
<META http-equiv="Content-type" content="text/html; charset=UTF-8">
<META http-equiv="Pragma" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<META http-equiv="Content-script-type" CONTENT="text/javascript">
<LINK REL="stylesheet" HREF="../include/defaultS.css" TYPE="text/css">
<LINK REL="stylesheet" HREF="../include/Layout.css" TYPE="text/css">
<SCRIPT LANGUAGE="javascript" TYPE="text/javascript" SRC="../include/common.js"></SCRIPT>
<SCRIPT LANGUAGE="javascript" TYPE="text/javascript" SRC="../include/check.js"></SCRIPT>
<SCRIPT LANGUAGE="javascript" TYPE="text/javascript">
<!--
var VIEWID=0;
attachlist = new Array("../","");

function change(id) {
	if( id==VIEWID ) {
		return;
	}
	getObj("TITLE"+VIEWID).className="Font20";
	getObj("TITLE"+VIEWID).style.textDecoration="underline";
//	getObj("TITLE"+VIEWID).style.color = "brown";
	getObj("TITLE"+id).className="Font33";
	getObj("TITLE"+id).style.textDecoration="none";
//	getObj("TITLE"+id).style.color = "brown";

	setDisplay("ATC"+VIEWID,false);
	if( attachlist[id]!="" ) {
		setDisplay("ATC"+id,true);
	}

	setDisplay("MSG"+VIEWID,false);
	setDisplay("MSG"+id,true);

	getObj("ARA"+VIEWID).style.backgroundColor = "white";
	getObj("ARA"+id).style.backgroundColor = "lightgoldenrodyellow";

	VIEWID=id;
}


//-->
</SCRIPT>
</HEAD>
<BODY CLASS="Body">
	<BR>
	<TABLE CLASS="NoBorder" STYLE="width:80%;border-bottom:2px solid #CCCCCC;"><TR>
		<TD>
			<TABLE CLASS="NoBrder" ><TR><TD CLASS="Font1"><IMG src="../image/mrk1.gif" ></TD><TD CLASS="Font32"><A HREF="#" ONCLICK="parent.window.open('main.vm','_self')">購買業務へ</A></TD></TR></TABLE>
		</TD>
	</TR></TABLE>
	<BR>
	<TABLE CLASS="NoBorder" STYLE="width:80%;"><TR>
		<TD STYLE="width:55%;text-align:left;vertical-align:top;">
			<IMG src="../image/1.png">
			<TABLE CLASS="NoBorder" STYLE="width:98%;">
				<TR>
					<TD CLASS="Font7" STYLE="background-color:#F0F3F5;border:1px solid #C5CED7;text-align:left;vertical-align:top;padding:2px,6px,2px,6px;color:#000066;">INFORMATIONS
					</TD>
				</TR>
				<TR>
					<TD ID="ARA0" CLASS="Font7" STYLE="background-color:#FFFFFF;border:1px solid #C5CED7;text-align:left;vertical-align:top;padding:2px,6px,2px,6px;color:#000066;border-bottom:1px dotted #C5CED7;">
						<SPAN CLASS="Font8" STYLE="color:blue;">最新のお知らせ&nbsp;-&nbsp;</SPAN><SPAN CLASS="Font18">2010/01/22</SPAN><BR><SPAN STYLE="font-size:4px;">&nbsp;</SPAN><BR>
						<IMG ID="ATC0" STYLE="cursor:pointer;border:1px solid black;" src="../image/mrkClip2.gif" ALIGN="left"><SPAN ID="TITLE0" CLASS="Font33" STYLE="color:brown;"ONMOUSEOVER="change(0);"> パスワードの変更設定をお願いします<BR></SPAN>
						<SPAN CLASS="Font8">&nbsp;<BR></SPAN>
						<SPAN ID="MSG0" CLASS="Font1">
不正利用防止のため、定期的に暗証番号の変更をお願いいたします。
						</SPAN>
					</TD>
				</TR>

				<TR>
					<TD ID="ARA1" CLASS="Font7" STYLE="background-color:#FFFFFF;border-top:1px dotted #C5CED7;border-right:1px solid #C5CED7;border-bottom:1px solid #C5CED7;border-left:1px solid #C5CED7;text-align:left;vertical-align:top;padding:2px,6px,2px,6px;color:#000066;">
						<SPAN CLASS="Font18">2009/09/30</SPAN><BR><SPAN STYLE="font-size:4px;">&nbsp;</SPAN><BR>
						<IMG ID="ATC1" STYLE="cursor:pointer;border:1px solid black;display:none;" src="../image/mrkClip2.gif" ALIGN="left"><SPAN ID="TITLE1" CLASS="Font20" STYLE="color:brown;font-weight:bold;text-decoration:underline;" ONMOUSEOVER="change(1);">事務所が移転になります<BR></SPAN>
						<SPAN CLASS="Font8">&nbsp;<BR></SPAN>
						<SPAN ID="MSG1" CLASS="Font1" STYLE="display:none;">
平成21年11月1日より、弊社事業所は下記住所に移転となりますので、ご注意願います。<BR>【移転先】<BR>
〒162-8565<BR>
東京都新宿区揚場町2-1　軽子坂ＭＮビル<BR>TEL:03-3266-8123<BR>FAX:03-3266-8560
					</TD>
				</TR>

			</TABLE>

		</TD>
		<TD STYLE="width:45%;text-align:left;vertical-align:top;">
			<IMG src="../image/mrkClip.gif" ALIGN="left"><SPAN CLASS="Font18">DOWNLOAD FILES</SPAN><BR><BR>
			<TABLE CLASS="NoBorer" STYLE="width:100%;">
				<TR><TD STYLE="padding-left:20px;">
					<A CLASS="Font4" HREF="#">PROCURESUITE操作手引き</A>
					<BR><SPAN CLASS="Font8">PROCURESUITEの操作手引書です。<BR>適宜ご利用下さい。</SPAN>
					<BR><BR>
					<A CLASS="Font4" HREF="#">取引先契約書</A>
					<BR><SPAN CLASS="Font8">取引先との契約規約については、こちらをご参照下さい。</SPAN>
					<BR><BR>
					<A CLASS="Font4" HREF="#">仕様書雛形</A>
					<BR><SPAN CLASS="Font8">新規見積時は、この雛形を使用してください。</SPAN>
				</TD></TR>
			</TABLE>


		</TD>
	</TR></TABLE>



</BODY>
</HTML>
