<!--*************************************************************************-->
<!--*************************************************************************-->
<!doctype html>
<HTML LANG="ja">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<HEAD>
<SCRIPT LANGUAGE="javascript" TYPE="text/javascript">
<!--

function onLoad() {
	window.open("main.vm","_self");
}


//-->
</SCRIPT>
</HEAD>

<BODY ONLOAD="onLoad();" CLASS="Body" ALIGN="center" VALIGN="middle" topmargin="0" leftmargin="0" STYLE="height:100%;">
</BODY>


</HTML>
