<!doctype html>
<HTML LANG="ja">
<HEAD>
<META http-equiv="Content-type" content="text/html; charset=UTF-8">
<META http-equiv="Pragma" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<META http-equiv="Content-script-type" CONTENT="text/javascript">
<TITLE>PROCURESUITE</TITLE>
<LINK ID="CSS_DEFAULT" REL="stylesheet" HREF="../include/default.css" TYPE="text/css">
<LINK ID="CSS_LAYOUT" REL="stylesheet" HREF="../include/Layout.css" TYPE="text/css">
<SCRIPT LANGUAGE="javascript" TYPE="text/javascript" SRC="../include/common.js"></SCRIPT>
<SCRIPT LANGUAGE="javascript" TYPE="text/javascript" SRC="../include/check.js"></SCRIPT>
<SCRIPT LANGUAGE="javascript" TYPE="text/javascript">
<!--

icon = new Array("cmdBack","cmdUser","cmdPassword","cmdLogout");

var LoginUserId = "010101";
var LoginUserName = "風呂木屋 粋人";
var LoginUserTel1 = "03-3266-8123";
var LoginUserTel2 = "3496";

var VIEWSLIPMODE; // 購入依頼伝票検索モード 1=保留・差戻し伝票を検索　2=特定の伝票№を検索
var wSlipNo;
//var MENUID = 0; // 現在選択中のタグ番号
var	ROLES = [
//			["東京本社　情報システム部","システム担当者権限","{0}{1}{2}{3}{4}{5}{6}{7}{8}{9}{10}{11}{12}{13}{14}"],
			["第一工場　第一製造部","購入依頼者権限","{0}"],
			["第一工場　第一製造部","購入依頼承認者権限","{1}"],
			["第一工場　購買部","発注担当者権限","{3}{13}"],
			["第一工場　第一製造部","受入担当者権限","{11}"],
			["第一工場　経理部","予算管理権限",""],
			["第一工場　購買部","伝票受付担当権限","{2}"]
		]
// ROLESの{}内の番号と、MSGCNTの要素番号がリンクしています。
var MSGCNT = [
			[1,1,0],　// 0:購入依頼起票		①差戻し件数　	②保留件数　	③使用せず
			[1,0,0],　// 1:購入依頼承認		①承認待ち件数　②使用せず　	③使用せず
			[1,0,0],　// 2:伝票受付				①受付待ち件数　②差戻し件数　③使用せず
			[1,2,3],　// 3:発注						①未処理件数　	②差戻し件数　③見積中件数
			[1,0,0],　// 4:見積承認				①承認待ち件数　②使用せず　	③使用せず
			[1,0,0],　// 5:見積回答				①未回答件数	　②使用せず　	③使用せず
			[1,0,0],　// 6:注文承認				①承認待ち件数　②使用せず　	③使用せず
			[1,0,0],　// 7:受注確認				①未確認件数　　②使用せず　	③使用せず
			[1,0,0],　// 8:納期確認				①確認中件数　　②使用せず　	③使用せず
			[1,0,0],　// 9:納期回答				①未回答件数　　②使用せず　	③使用せず
			[1,0,0],　//10:出荷　　				①出荷件数	　　②出荷変更件数③出荷取消件数
			[1,0,0],　//11:受入　　				①未受入件数　　②受入差戻件数③使用せず
			[1,0,0],　//12:検査　　				①未検査件数　　②使用せず		③使用せず
			[1,0,0],　//13:検収　　				①検収待ち件数　②検収差戻件数③使用せず
			[1,0,0]	　//14:検収承認				①承認待ち件数　②使用せず　	③使用せず
]

// 伝票検索用
var Denpyo = new Array(
	"017643-080322___0",
	"017698-080322___0",
	"016099-080301___11",
	"017125-080301___14",
	"018329-080301___14",
	"018497-080301___7",
	"019001-080301___7",
	"016172-080301___7",
	"016878-080301___7",
	"017000-080301___7",
	"017145-080301___10"
);

var estData0 = [
			["","","","","","","","",""],
			["","","","","","","","",""],
			["","","","","","","","",""],
			["","","","","","","","",""],
			["","","","","","","","",""]
		]
var estData1 = [
			["アラバマ工業(株)","JPY","円","800,000","08/03/25","078521 (株)月立製作所","0","0","00005"],
			["サウス・ダコタ化成(株)","JPY","円","760,000","08/03/26","020105 ユウヒカセイ","0","0","00020"],
			["","","","","","","","",""],
			["","","","","","","","",""],
			["","","","","","","","",""]
		]
var wItemName;
var itemNameList = [
			["J00001","データ処理№","データ処理№","受信データの処理順序を表します。","9","5","0","5","0"],
			["J00002","情報区分コード","情報区分コード","情報種を表すコードです。","X","4","0","4","0"],
			["J00003","データ作成日","データ作成日","レコードが作成された日付です。","9","6","0","6","0"],
			["J00004","発注者コード","発注者コード","発注者側の企業コードです。","X","12","0","12","0"],
			["J00005","受注者コード","受注者コード","受注側の企業コードです。","X","12","0","12","0"],
			["J00006","発注部門コード","発注部門コード","原価部門または納入部門を表すコードです。","X","8","0","8","0"],
			["J00007","注文番号","注文番号","注文単位に採番されるユニークな番号です。","X","23","0","23","0"],
			["J00008","製造番号","製造番号","製造管理番号です。","X","19","0","19","0"],
			["J00009","訂正コード","訂正コード","１：新規　２：変更　３：取消　を表します。","X","1","0","1","0"],
			["J00010","コック区分","コック区分","通常品かコック品かを表します。","X","1","0","1","0"],
			["J00011","注文年月日","注文年月日","注文を行なった日付です。","9","6","0","6","0"],
			["J00012","単位","単位","数量を表す単位のコードです。","X","3","0","3","0"],
			["J00013","単価","単価","製品１単位の価格です。","9","10","3","10","3"],
			["J00014","単価区分","単価区分","１：確定　２：変更　３：未定　を表します。","X","1","0","1","0"],
			["J00015","注文数量","注文数量","発注数量です。","9","9","3","9","3"],
			["J00016","注文金額","注文金額","単価×注文数量の金額です。","9","10","0","10","0"],
			["J00017","支給区分","支給区分","支給品の有無や、支給形態などを示すコードです。１：確定　２：有償　３：無償　４：混在　を表します。","X","1","0","1","0"],			["J00018","購買担当","購買担当","購買担当者を表すコードです。","X","7","0","7","0"],
			["J00019","材質・規格・寸法","材質・規格・寸法","材質・規格・寸法等です。","X","7","0","7","0"],
			["J00020","仕様書有無","仕様書有無","図面や仕様書の有無（１：あり　２：なし）を表します。","X","1","0","1","0"],
			["J00021","版数","版数","図面や仕様書の版数等を表します。","X","3","0","3","0"],
			["J00022","品名（品名仕様）","品名（品名仕様）","製品の名称です。","X","30","0","30","0"],
			["J00023","受注者品名コード","受注者品名コード","受注者側が採番した製品管理番号です。","X","25","0","25","0"],
			["J00024","発注者品名コード","品名コード","発注者側が採番した製品管理番号です。","X","25","0","25","0"],
			["J00025","図面・仕様書枚数","図面・仕様書枚数","発注者が提示する図面・仕様書の枚数または部数です。","9","2","0","2","0"],
			["J00026","荷姿（包装単位）","荷姿（包装単位）","１パッケージあたりの梱包数量または梱包方法を表します。","X","7","0","7","0"],
			["J00027","直納区分","直納区分","１：通常品か２：直納品を示すコードです。","X","1","0","1","0"],
			["J00028","受渡場所","受渡場所","納入場所を示すコードです。","X","8","0","8","0"],
			["J00029","検査区分","検査区分","検査方法や、検査の有無を表します。","X","3","0","3","0"],
			["J00030","納入指示有無区分","納入指示有無区分","納入指示情報の送信有無について、1：なし　２：あり　を表します。","X","1","0","1","0"],
			["J00031","納期","納期","納入期日です。","9","6","0","6","0"],
			["J00032","納入指示数量","納入指示数量","納期毎の納入数量です。","9","9","3","9","3"],
			["J00033","納入指定日","納入指定日","使用しません。","9","6","0","6","0"],
			["J00034","納入№","納入№","使用しません。","X","8","0","8","0"],
			["J00035","合計納入数量","合計納入数量","使用しません。","9","9","3","9","3"],
			["J00036","納入数量","納入数量","受注者から納入された数量です。","9","9","3","9","3"],
			["J00037","未納入数量","未納入数量","注文単位で未納入となっている数量（注残）です。","9","9","3","9","3"],
			["J00038","納入金額","納入金額","納入数量×価格単価の金額です。","9","10","0","10","0"],
			["J00039","出荷日","出荷日","受注者が出荷を行なった日付です。","9","6","0","6","0"],
			["J00040","納入日","納入日","発注者に納入される日付です。","9","6","0","6","0"],
			["J00040","納入日","納入日","発注者に納入される日付です。","9","6","0","6","0"],
			["J00041","回答納期","回答納期","受注者が発注者に回答する納入予定日です。","9","6","0","6","0"],
			["J00042","回答数量","回答数量","受注者が発注者に回答する納入予定数量です。","9","9","3","9","3"],
			["J00043","確認マーク","確認マーク","回答納期・回答数量が、発注者の希望通りかを示すコードです。１：希望通り　２：希望通りでない　を表します。","X","1","0","1","0"],
			["J00044","分納区分","分納区分","分納の有無を示すコードです。","X","1","0","1","0"],
			["J00045","分納回数","分納回数","何回目の分納かを表す数値です。","9","1","0","1","0"],
			["J00046","不足数量","不足数量","伝票上の納入数量より、実際の数量が少ない場合の差数です。","9","9","3","9","3"],
			["J00047","不良数量","不良数量","検査で不良となった数量です。","9","9","3","9","3"],
			["J00048","検収単価","検収単価","検収時の単価です。","9","10","3","10","3"],
			["J00049","検収金額","検収金額","検収単価×検収数量の金額です。","9","10","0","10","0"],
			["J00050","検収数量","検収数量","納入された数量のうち、支払対象となる製品の数量です。","9","9","3","9","3"]
		]

var supcd = new Array("000001","000002","000003","000004","000005","000006","000007","000008","000009","000010","000011","000012","000013","000014","000015","000016","000017","000018","000019","000020","000021","000022","000023","000024","000025","000026","000027","000028","000029","000030","000031","000032","000033","000034","000035","000036","000037","000038","000039","000040","000041","000042","000043","000044","000045","000046","000047","000048","000049","000050");
var supname = new Array("アイオワ工業(株)","アイダホ電子(株)","アーカンソ－精密(株)","アラスカ化成(株)","アラバマ工業(株)","アリゾナ電子(株)","イリノイ精密(株)","インディアナ化成(株)","ウィスコンシン工業(株)","ウェスト・バージニア電子(株)","オクラホマ精密(株)","オハイオ化成(株)","オレゴン工業(株)","カリフォルニア電子(株)","カンザス精密(株)","ケンタッキー化成(株)","コネチカット工業(株)","コロラド電子(株)","サウス・カロライナ精密(株)","サウス・ダコタ化成(株)","ジョージア工業(株)","テキサス電子(株)","テネシー精密(株)","デラウェア化成(株)","ニュージャージー工業(株)","ニューハンプシャー電子(株)","ニューメキシコ精密(株)","ニューヨーク化成(株)","ネバダ工業(株)","ネブラスカ電子(株)","ノースカロライナ精密(株)","ノースダコタ化成(株)","バージニア工業(株)","バーモント電子(株)","ハワイ精密(株)","フロリダ化成(株)","ペンシルバニア工業(株)","マサチューセッツ電子(株)","ミシガン精密(株)","ミシシッピ化成(株)","ミズーリ工業(株)","ミネソタ電子(株)","メリーランド精密(株)","メーン化成(株)","モンタナ工業(株)","ユタ電子(株)","ルイジアナ精密(株)","ロードアイランド化成(株)","ワイオミング工業(株)","ワシントンプレス工業(株)");
var users = new Array(
"000001___千代田 一郎___チヨダイチロウ",
"000002___中央 花子___チュウオウハナコ",
"000003___港 美紀___ミナトミキ",
"000004___新宿 次郎___シンジュクジロウ",
"000005___文京 五郎___ブンキョウゴロウ",
"000006___台東 ななえ___タイトウナナエ",
"000007___墨田 時子___スミダトキコ",
"000008___江東 三郎___コウトウサブロウ",
"000009___品川 正二___シナガワショウジ",
"000010___目黒 卓郎___メグロタクロウ",
"000011___大田 広美___オオタヒロミ",
"000012___世田谷 太郎___セタガヤタロウ",
"000013___渋谷 雄一___シブヤユウイチ",
"000014___中野 浩一___ナカノコウイチ",
"000015___杉並 良太郎___スギナミリョウタロウ",
"000016___豊島 悠子___トシマユウコ",
"000017___北 郎___キタアキラ",
"000018___荒川 静香___アラカワシズカ",
"000019___板橋 浩二___イタバシコウジ",
"000020___練馬 伸介___ネリマシンスケ",
"000021___足立 充___アダチミツル",
"000022___葛飾 寅次郎___カツシカトラジロウ",
"000023___江戸川 コナン___エドガワコナン"
);

var makers = new Array(
"301001___北海道部品(株)___ホッカイドウブヒン",
"402027___愛知精密(株)___アイチセイミツ",
"603028___千葉電子部品(株)___チバデンシブヒン",
"104039___埼玉工業(株)___サイタマコウギョウ",
"205029___福岡ミクロ(株)___フクオカミクロ",
"206024___茨城パーツ(株)___イバラキパーツ",
"207045___東京部品(株)___トウキョウブヒン",
"308043___神奈川精密(株)___カナガワセイミツ",
"409012___兵庫電子部品(株)___ヒョウゴデンシブヒン",
"010013___静岡工業(株)___シズオカコウギョウ",
"011046___大阪ミクロ(株)___オオサカミクロ",
"012016___宮城パーツ(株)_ミヤギパーツ",
"613005___新潟部品(株)___ニイガタブヒン",
"514003___福島精密(株)___フクシマセイミツ",
"415004___長野電子部品(株)___ナガノデンシブヒン",
"716020___栃木工業(株)___トチギコウギョウ",
"817002___岩手ミクロ(株)___イワテミクロ",
"918010___鹿児島パーツ(株)___カゴシマパーツ",
"719021___群馬部品(株)___グンマブヒン",
"520008___青森精密(株)___アオモリセイミツ",
"421017___岡山電子部品(株)___オカヤマデンシブヒン",
"322011___広島工業(株)___ヒロシマコウギョウ",
"223007___岐阜ミクロ(株)___ギフミクロ",
"324015___熊本パーツ(株)___クマモトパーツ",
"425025___三重部品(株)___ミエブヒン",
"126006___秋田精密(株)___アキタセイミツ",
"127014___宮崎電子部品(株)___ミヤザキデンシブヒン",
"128023___山口工業(株)___ヤマグチコウギョウ",
"239022___大分ミクロ(株)___オオイタミクロ",
"630009___山形パーツ(株)___ヤマガタパーツ",
"731038___滋賀部品(株)___シガブヒン",
"932031___京都精密(株)___キョウトセイミツ",
"033026___愛媛電子部品(株)___アイチデンシブヒン",
"034037___長崎工業(株)___ナガノコウギョウ",
"035033___富山ミクロ(株)___トヤマミクロ",
"536035___石川パーツ(株)___イシカワパーツ",
"637032___山梨部品(株)___ヤマナシブヒン",
"438047___香川精密(株)___カガワセイミツ",
"339019___島根電子部品(株)___シマネデンシブヒン",
"340040___奈良工業(株)___ナラコウギョウ",
"241034___福井ミクロ(株)___フクイミクロ",
"142042___佐賀パーツ(株)___サガパーツ",
"443044___沖縄部品(株)___オキナワブヒン",
"444030___和歌山精密(株)___ワカヤマセイミツ",
"435041___鳥取電子部品(株)___トットリデンシブヒン",
"346036___徳島工業(株)___トクヤマコクギョウ",
"347018___高知ミクロ(株)___コウチミクロ",
"078521___ (株)月立製作所___ツキタチセイサクショ",
"020105___ユウヒ化成___ユウヒカセイ",
"005270___村村製作所___ムラムラセイサクショ",
"001024___松上電子___マツウエデンシ"
);

var item = new Array(
"VC29608-01-54188|||抵抗ネットワークＡ",
"QE59216-01-53866|||抵抗ネットワークＢ",
"LG88824-01-13138|||抵抗ネットワークＣ",
"GI84327-01-27845|||抵抗ネットワークＤ",
"BK48040-01-70436|||抵抗ネットワークＥ",
"WM77648-01-50371|||抵抗ネットワークＦ",
"RO07256-01-90521|||抵抗ネットワークＧ",
"MQ36864-01-10856|||抵抗ネットワークＨ",
"HS66472-01-13477|||抵抗ネットワークＩ",
"CU96080-01-62385|||抵抗ネットワークＪ",
"XW25688-01-85296|||抵抗ネットワークＫ",
"SY55296-01-85286|||抵抗ネットワークＬ",
"NA84804-01-39057|||抵抗ネットワークＭ",
"IC14412-01-94057|||抵抗ネットワークＮ",
"DE44020-01-43408|||抵抗ネットワークＯ",
"YG73628-01-10576|||抵抗ネットワークＰ",
"TI03236-01-66748|||抵抗ネットワークＱ",
"OK32844-01-33244|||抵抗ネットワークＲ",
"HM62452-01-88001|||抵抗ネットワークＳ",
"EO92060-01-54293|||抵抗ネットワークＴ",
"HC37010-03-81619|||セラミックコンデンサＡ",
"SE74020-01-59276|||セラミックコンデンサＢ",
"BG11030-03-15116|||セラミックコンデンサＣ",
"KI48040-01-49663|||セラミックコンデンサＤ",
"TK85050-03-41828|||セラミックコンデンサＥ",
"CM22060-01-52088|||セラミックコンデンサＦ",
"LO59070-03-08958|||セラミックコンデンサＧ",
"UQ96080-01-62155|||セラミックコンデンサＨ",
"DS33090-03-24636|||セラミックコンデンサＩ",
"MU70000-01-94653|||セラミックコンデンサＪ",
"VW07010-03-98708|||セラミックコンデンサＫ",
"EY44020-01-07686|||セラミックコンデンサＬ",
"NA81030-03-82678|||セラミックコンデンサＭ",
"WC18040-01-77059|||セラミックコンデンサＮ",
"FE55050-03-00313|||セラミックコンデンサＯ",
"OG92060-01-73265|||セラミックコンデンサＰ",
"XI29070-03-73498|||セラミックコンデンサＱ",
"GK66080-01-92359|||セラミックコンデンサＲ",
"PM03090-03-75627|||セラミックコンデンサＳ",
"YO40000-01-30407|||セラミックコンデンサＴ",
"SC25907-04-28577|||チョークコイルＡ",
"KE51814-03-58726|||チョークコイルＢ",
"CG77721-02-51441|||チョークコイルＣ",
"UI03628-01-00177|||チョークコイルＤ",
"MK29535-04-33432|||チョークコイルＥ",
"EM55442-03-37425|||チョークコイルＦ",
"WO81349-02-51922|||チョークコイルＧ",
"OQ07256-01-21871|||チョークコイルＨ",
"GS33163-04-26858|||チョークコイルＩ",
"YU59070-03-67239|||チョークコイルＪ",
"QW84977-02-57501|||チョークコイルＫ",
"IY10884-01-20655|||チョークコイルＬ",
"AA36791-04-53462|||チョークコイルＭ",
"SC62698-03-46758|||チョークコイルＮ",
"KE88505-02-06566|||チョークコイルＯ",
"CG14412-01-89249|||チョークコイルＰ",
"UI40319-04-15722|||チョークコイルＱ",
"MK66226-03-01008|||チョークコイルＲ",
"EM92133-02-98133|||チョークコイルＳ",
"WO18040-01-66357|||チョークコイルＴ",
"CC33309-02-87799|||自動車用エンコーダＡ",
"EE66618-03-70699|||自動車用エンコーダＢ",
"GG99927-04-39617|||自動車用エンコーダＣ",
"II33236-01-78092|||自動車用エンコーダＤ",
"KK66545-02-12977|||自動車用エンコーダＥ",
"MM99854-03-51504|||自動車用エンコーダＦ",
"OO33163-04-23773|||自動車用エンコーダＧ",
"QQ66472-01-72103|||自動車用エンコーダＨ",
"SS99781-02-25063|||自動車用エンコーダＩ",
"UU33090-03-85583|||自動車用エンコーダＪ",
"WW66399-04-91212|||自動車用エンコーダＫ",
"YY99608-01-92362|||自動車用エンコーダＬ",
"AA32917-02-82313|||自動車用エンコーダＭ",
"CC66226-03-94323|||自動車用エンコーダＮ",
"EE99535-04-49548|||自動車用エンコーダＯ",
"GG32844-01-12494|||自動車用エンコーダＰ",
"II66153-02-01704|||自動車用エンコーダＱ",
"KK99462-03-32886|||自動車用エンコーダＲ",
"MM32771-04-74326|||自動車用エンコーダＳ",
"OO66080-01-59312|||自動車用エンコーダＴ",
"CC33309-02-99249|||複合ラインフィルタＡ",
"EE66618-03-27468|||複合ラインフィルタＢ",
"GG99927-04-66433|||複合ラインフィルタＣ",
"II33236-01-38113|||複合ラインフィルタＤ",
"KK66545-02-95083|||複合ラインフィルタＥ",
"MM99854-03-08089|||複合ラインフィルタＦ",
"OO33163-04-44842|||複合ラインフィルタＧ",
"QQ66472-01-58904|||複合ラインフィルタＨ",
"SS99781-02-99447|||複合ラインフィルタＩ",
"UU33090-03-73086|||複合ラインフィルタＪ",
"WW66399-04-76047|||複合ラインフィルタＫ",
"YY99608-01-07422|||複合ラインフィルタＬ",
"AA32917-02-48819|||複合ラインフィルタＭ",
"CC66226-03-72596|||複合ラインフィルタＮ",
"EE99535-04-36485|||複合ラインフィルタＯ",
"GG32844-01-20134|||複合ラインフィルタＰ",
"II66153-02-38493|||複合ラインフィルタＱ",
"KK99462-03-44039|||複合ラインフィルタＲ",
"MM32771-04-04888|||複合ラインフィルタＳ",
"OO66080-01-08617|||複合ラインフィルタＴ",
"SC33309-02-25429|||通信用ＲＦユニットＡ",
"KE66618-03-34484|||通信用ＲＦユニットＢ",
"CG99927-04-72072|||通信用ＲＦユニットＣ",
"UI33236-01-61573|||通信用ＲＦユニットＤ",
"MK66545-02-84713|||通信用ＲＦユニットＥ",
"EM99854-03-70524|||通信用ＲＦユニットＦ",
"WO33163-04-11598|||通信用ＲＦユニットＧ",
"OQ66472-01-08647|||通信用ＲＦユニットＨ",
"GS99781-02-22216|||通信用ＲＦユニットＩ",
"YU33090-03-79973|||通信用ＲＦユニットＪ",
"QW66399-04-08141|||通信用ＲＦユニットＫ",
"IY99608-01-73895|||通信用ＲＦユニットＬ",
"AA32917-02-24493|||通信用ＲＦユニットＭ",
"SC66226-03-50595|||通信用ＲＦユニットＮ",
"KE99535-04-91282|||通信用ＲＦユニットＯ",
"CG32844-01-80373|||通信用ＲＦユニットＰ",
"UI66153-02-47369|||通信用ＲＦユニットＱ",
"MK99462-03-10617|||通信用ＲＦユニットＲ",
"EM32771-04-97991|||通信用ＲＦユニットＳ",
"WO66080-01-67636|||通信用ＲＦユニットＴ",
"QC40711-04-53669|||トランスファー金型設計Ａ",
"GE81422-03-85289|||トランスファー金型設計Ｂ",
"WG22133-02-20916|||トランスファー金型設計Ｃ",
"MI62844-01-12551|||トランスファー金型設計Ｄ",
"CK03555-04-59612|||トランスファー金型設計Ｅ",
"SM44266-03-44543|||トランスファー金型設計Ｆ",
"IO84977-02-55049|||トランスファー金型設計Ｇ",
"YQ25688-01-38544|||トランスファー金型設計Ｈ",
"OS66399-04-38996|||トランスファー金型設計Ｉ",
"EU07010-03-77397|||トランスファー金型設計Ｊ",
"UW47721-02-17449|||トランスファー金型設計Ｋ",
"KY88432-01-66947|||トランスファー金型設計Ｌ",
"AA29143-04-98718|||トランスファー金型設計Ｍ",
"QC69854-03-97215|||トランスファー金型設計Ｎ",
"GE10565-02-51338|||トランスファー金型設計Ｏ",
"WG51276-01-92218|||トランスファー金型設計Ｐ",
"MI91987-04-90159|||トランスファー金型設計Ｑ",
"CK32698-03-04751|||トランスファー金型設計Ｒ",
"SM73309-02-55551|||トランスファー金型設計Ｓ",
"IO14020-01-36485|||トランスファー金型設計Ｔ",
"QC37010-03-86953|||順送型設計（自動車）Ａ",
"GE74020-01-66511|||順送型設計（自動車）Ｂ",
"WG11030-03-06201|||順送型設計（自動車）Ｃ",
"MI48040-01-97809|||順送型設計（自動車）Ｄ",
"CK85050-03-86961|||順送型設計（自動車）Ｅ",
"SM22060-01-74306|||順送型設計（自動車）Ｆ",
"IO59070-03-55429|||順送型設計（自動車）Ｇ",
"YQ96080-01-64007|||順送型設計（自動車）Ｈ",
"OS33090-03-09444|||順送型設計（自動車）Ｉ",
"EU70000-01-52437|||順送型設計（自動車）Ｊ",
"UW07010-03-85173|||順送型設計（自動車）Ｋ",
"KY44020-01-79929|||順送型設計（自動車）Ｌ",
"AA81030-03-82505|||順送型設計（自動車）Ｍ",
"QC18040-01-82536|||順送型設計（自動車）Ｎ",
"GE55050-03-19599|||順送型設計（自動車）Ｏ",
"WG92060-01-14822|||順送型設計（自動車）Ｐ",
"MI29070-03-64797|||順送型設計（自動車）Ｑ",
"CK66080-01-67535|||順送型設計（自動車）Ｒ",
"SM03090-03-63942|||順送型設計（自動車）Ｓ",
"IO40000-01-27646|||順送型設計（自動車）Ｔ",
"EC55515-04-17634|||3Dモデリング（プラスチック）Ａ",
"IE11030-03-79536|||3Dモデリング（プラスチック）Ｂ",
"MG66545-02-31891|||3Dモデリング（プラスチック）Ｃ",
"QI22060-01-10593|||3Dモデリング（プラスチック）Ｄ",
"UK77575-04-36851|||3Dモデリング（プラスチック）Ｅ",
"YM33090-03-09153|||3Dモデリング（プラスチック）Ｆ",
"CO88505-02-62903|||3Dモデリング（プラスチック）Ｇ",
"GQ44020-01-40835|||3Dモデリング（プラスチック）Ｈ",
"KS99535-04-74461|||3Dモデリング（プラスチック）Ｉ",
"OU55050-03-78558|||3Dモデリング（プラスチック）Ｊ",
"OX29608-01-21913|||歯車（ギヤ）設計Ａ",
"CU59216-01-03405|||歯車（ギヤ）設計Ｂ",
"QR88824-01-35993|||歯車（ギヤ）設計Ｃ",
"EO18432-01-84198|||歯車（ギヤ）設計Ｄ",
"SL48040-01-90823|||歯車（ギヤ）設計Ｅ",
"GI77648-01-29283|||歯車（ギヤ）設計Ｆ",
"UF07256-01-90768|||歯車（ギヤ）設計Ｇ",
"IC36864-01-35757|||歯車（ギヤ）設計Ｈ",
"WZ66472-01-71078|||歯車（ギヤ）設計Ｉ",
"KW96080-01-59465|||歯車（ギヤ）設計Ｊ",
"YT25688-01-07672|||歯車（ギヤ）設計Ｋ",
"MQ55296-01-48715|||歯車（ギヤ）設計Ｌ",
"AN84804-01-83242|||歯車（ギヤ）設計Ｍ",
"OK14412-01-20709|||歯車（ギヤ）設計Ｎ",
"CH44020-01-48335|||歯車（ギヤ）設計Ｏ",
"QE73628-01-84254|||歯車（ギヤ）設計Ｐ",
"EB03236-01-62628|||歯車（ギヤ）設計Ｑ",
"SY32844-01-66557|||歯車（ギヤ）設計Ｒ",
"GV62452-01-53683|||歯車（ギヤ）設計Ｓ",
"US92060-01-22629|||歯車（ギヤ）設計Ｔ",
"QX22206-03-35487|||外観デザインＡ",
"GU44412-01-14997|||外観デザインＢ",
"WR66618-03-82846|||外観デザインＣ",
"MO88824-01-30231|||外観デザインＤ",
"CL11030-03-03138|||外観デザインＥ",
"SI33236-01-22922|||外観デザインＦ",
"IF55442-03-15396|||外観デザインＧ",
"YC77648-01-03063|||外観デザインＨ",
"OZ99854-03-78886|||外観デザインＩ",
"EW22060-01-42472|||外観デザインＪ",
"UT44266-03-18788|||外観デザインＫ",
"KQ66472-01-19266|||外観デザインＬ",
"AN88678-03-10346|||外観デザインＭ",
"QK10884-01-10163|||外観デザインＮ",
"GH33090-03-12785|||外観デザインＯ",
"WE55296-01-63498|||外観デザインＰ",
"MB77402-03-61779|||外観デザインＱ",
"CY99608-01-12493|||外観デザインＲ",
"SV21814-03-94964|||外観デザインＳ",
"IS44020-01-53983|||外観デザインＴ",
"HC22206-03-71703|||ステンレス鋼Ａ",
"SE44412-01-98468|||ステンレス鋼Ｂ",
"BG66618-03-17224|||ステンレス鋼Ｃ",
"KI88824-01-65294|||ステンレス鋼Ｄ",
"TK11030-03-49313|||ステンレス鋼Ｅ",
"CM33236-01-04492|||ステンレス鋼Ｆ",
"LO55442-03-14797|||ステンレス鋼Ｇ",
"UQ77648-01-17847|||ステンレス鋼Ｈ",
"DS99854-03-70651|||ステンレス鋼Ｉ",
"MU22060-01-65939|||ステンレス鋼Ｊ",
"VW44266-03-83167|||ステンレス鋼Ｋ",
"EY66472-01-85189|||ステンレス鋼Ｌ",
"NA88678-03-38078|||ステンレス鋼Ｍ",
"WC10884-01-68916|||ステンレス鋼Ｎ",
"FE33090-03-25669|||ステンレス鋼Ｏ",
"OG55296-01-97353|||ステンレス鋼Ｐ",
"XI77402-03-00905|||ステンレス鋼Ｑ",
"GK99608-01-91886|||ステンレス鋼Ｒ",
"PM21814-03-73121|||ステンレス鋼Ｓ",
"YO44020-01-22044|||ステンレス鋼Ｔ",
"OC07402-03-94115|||平板Ａ",
"CE14804-01-07913|||平板Ｂ",
"QG22206-03-36398|||平板Ｃ",
"EI29608-01-56087|||平板Ｄ",
"SK37010-03-33857|||平板Ｅ",
"GM44412-01-10561|||平板Ｆ",
"UO51814-03-17935|||平板Ｇ",
"IQ59216-01-61254|||平板Ｈ",
"WS66618-03-87815|||平板Ｉ",
"KU74020-01-26231|||平板Ｊ",
"YW81422-03-55199|||平板Ｋ",
"MY88824-01-20746|||平板Ｌ",
"AA96226-03-46197|||平板Ｍ",
"OC03628-01-96855|||平板Ｎ",
"CE11030-03-15078|||平板Ｏ",
"QG18432-01-84175|||平板Ｐ",
"EI25834-03-80233|||平板Ｑ",
"SK33236-01-69088|||平板Ｒ",
"GM40638-03-13845|||平板Ｓ",
"UO48040-01-69516|||平板Ｔ",
"HC44412-01-39242|||継目無（シームレス）鋼管Ａ",
"SE88824-01-60295|||継目無（シームレス）鋼管Ｂ",
"BG33236-01-35687|||継目無（シームレス）鋼管Ｃ",
"KI77648-01-20225|||継目無（シームレス）鋼管Ｄ",
"TK22060-01-33989|||継目無（シームレス）鋼管Ｅ",
"CM66472-01-02451|||継目無（シームレス）鋼管Ｆ",
"LO10884-01-68016|||継目無（シームレス）鋼管Ｇ",
"UQ55296-01-58275|||継目無（シームレス）鋼管Ｈ",
"DS99608-01-20261|||継目無（シームレス）鋼管Ｉ",
"MU44020-01-48305|||継目無（シームレス）鋼管Ｊ",
"VW88432-01-30676|||継目無（シームレス）鋼管Ｋ",
"EY32844-01-71795|||継目無（シームレス）鋼管Ｌ",
"NA77256-01-96327|||継目無（シームレス）鋼管Ｍ",
"WC21668-01-30885|||継目無（シームレス）鋼管Ｎ",
"FE66080-01-18333|||継目無（シームレス）鋼管Ｏ",
"OG10492-01-45281|||継目無（シームレス）鋼管Ｐ",
"XI54804-01-06048|||継目無（シームレス）鋼管Ｑ",
"GK99216-01-93402|||継目無（シームレス）鋼管Ｒ",
"PM43628-01-04907|||継目無（シームレス）鋼管Ｓ",
"YO88040-01-88198|||継目無（シームレス）鋼管Ｔ",
"VC29608-01-91533|||パンチングメタルＡ",
"QE59216-01-44429|||パンチングメタルＢ",
"LG88824-01-33907|||パンチングメタルＣ",
"GI18432-01-96503|||パンチングメタルＤ",
"BK48040-01-54433|||パンチングメタルＥ",
"WM77648-01-85435|||パンチングメタルＦ",
"RO07256-01-35545|||パンチングメタルＧ",
"MQ36864-01-74694|||パンチングメタルＨ",
"HS66472-01-66091|||パンチングメタルＩ",
"CU96080-01-93578|||パンチングメタルＪ",
"XW25688-01-24679|||パンチングメタルＫ",
"SY55296-01-07206|||パンチングメタルＬ",
"NA84804-01-06854|||パンチングメタルＭ",
"IC14412-01-13225|||パンチングメタルＮ",
"DE44020-01-24307|||パンチングメタルＯ",
"YG73628-01-55154|||パンチングメタルＰ",
"TI03236-01-41776|||パンチングメタルＱ",
"OK32844-01-85328|||パンチングメタルＲ",
"HM62452-01-02737|||パンチングメタルＳ",
"EO92060-01-02960|||パンチングメタルＴ"
);



var CSS_DEFAULT; // デフォルトスタイシートの番号
var CSS_LAYOUT; // レイアウトスタイシートの番号

function onLoad() {
createMenu();
document.Body.a.value = menustr;

	for(var i=0; i<document.styleSheets.length; i++) {
		if( document.styleSheets[i].href == "../include/default.css" ) {
			CSS_DEFAULT = i;
		} else if( document.styleSheets[i].href == "../include/Layout.css" ) {
			CSS_LAYOUT = i;
		}
	}

	setDisplay("CMDUSERON0",false);
	setDisplay("CMDUSERON1",false);

	if( getCookie("FONTSIZE")=="L" ) {
		document.Body.FontSize[0].checked = true;
	} else if( getCookie("FONTSIZE")=="M" ) {
		document.Body.FontSize[1].checked = true;
	} else {
		document.Body.FontSize[2].checked = true;
	}

	// ロール初期設定
	var i;
	document.Body.Roles.length = top.ROLES.length;
	for(i=0; i<top.ROLES.length; i++) {
		document.Body.Roles.options[i].value = 0;
		document.Body.Roles.options[i].text = top.ROLES[i][0]+" （"+top.ROLES[i][1]+"）";
	}


/*
	if( getCookie("FONTSIZE")=="L" ) {
		document.Body.FontSize[0].checked = true;
		document.getElementById("CSS_DEFAULT").href = "../include/defaultL.css";
		document.getElementById("CSS_LAYOUT").href = "../include/layoutL.css";
	} else {
		document.Body.FontSize[1].checked = true;
	}
*/

	top.SLIPNO = "";

	changeFontSize0();
	getObj('BODYAREA').contentWindow.changeFontSize();


}

function openConfig() {
	closeMenu();

	setDisplay("CMDUSERON0",true);
	setDisplay("CMDUSERON1",true);
	setDisplay("CMDUSEROFF",false);



}

function closeConfig() {
	setDisplay("CMDUSERON0",false);
	setDisplay("CMDUSERON1",false);
	setDisplay("CMDUSEROFF",true);
}

function changeFontSize( size ) {
	setCookie("FONTSIZE",size);

	changeFontSize0(size);

	getObj('BODYAREA').contentWindow.changeFontSize(size);

}


function changeRole() {
	setText("ROLENAME",top.ROLES[document.Body.Roles.selectedIndex][1]);
	// ＨＯＭＥのときは、再表示。
	try {
		parent.getObj('BODYAREA').contentWindow.getObj('DATAAREA').contentWindow.reDraw(top.ROLES[document.Body.Roles.selectedIndex][2]);
	} catch(e) {
	}
}

/*	メニュー関連	*/
// ページ切替え
function changePage( url ) {
	closeMenu();
	getObj("BODYAREA").src = url;
}

var MenuList = new Array (
	"ﾜｰｸﾌﾛｰﾏｯﾌﾟ___../wfm/body.vm",
	"依頼元業務",
	"依頼元業務|||購入依頼",
	"依頼元業務|||購入依頼|||新規起票"/*,
	"依頼元業務|||購入依頼|||新規起票|||スポット品の購入___../purCreateSlip/body.vm",
	"依頼元業務|||購入依頼|||新規起票|||価格品の購入___../purCreateSlip/body2.vm",
	"依頼元業務|||購入依頼|||カタログ品の購入___../purCatalog/body.vm",
	"依頼元業務|||購入依頼|||購入依頼伝票照会___../purViewSlip/body.vm___(保1/差1)",
	"依頼元業務|||見積依頼",
	"依頼元業務|||見積依頼|||新規見積依頼___../estCreateSlip/body.vm",
	"依頼元業務|||見積依頼|||見積依頼照会___../estViewSlip/body.vm",
	"購買業務",
	"購買業務|||伝票受付箱___../odrSortingSlip/body.vm___（3）",
	"購買業務|||発注待ち一覧___../odrOrder/body.vm",
	"購買業務|||注文伝票照会___../odrViewSlip/body.vm",
	"購買業務|||検収処理",
	"購買業務|||検収処理|||新規検収___../acpInput/body.vm",
	"購買業務|||見積依頼",
	"購買業務|||見積依頼|||新規見積依頼___../estCreateSlip/body.vm",
	"購買業務|||見積依頼|||見積依頼照会___../estViewSlip/body.vm",
	"購買業務|||価格管理",
	"購買業務|||価格管理|||価格台帳___../prcViewSlip/body.vm",
	"購買業務|||価格管理|||価格シートの登録___../prcCreateSlip/body.vm",
	"受入業務",
	"受入業務|||受入処理",
	"受入業務|||受入処理|||受入入力___../arrInput/body2.vm",
	"受入業務|||受入処理|||受入バーコード入力___../arrInput/body.vm",
	"受入業務|||納期確認",
	"予算管理",
	"予算管理|||進捗を確認する___../bdtViewBudget/body.vm",
	"承認業務",
	"承認業務|||購入依頼承認処理___../aprRequest/body.vm",
	"マスタ保守",
	"マスタ保守|||管理系マスタ",
	"マスタ保守|||管理系マスタ|||事業所マスタ",
	"マスタ保守|||管理系マスタ|||取引先マスタ",
	"マスタ保守|||管理系マスタ|||部署マスタ___../mstSections/body.vm",
	"マスタ保守|||管理系マスタ|||ロールマスタ",
	"マスタ保守|||管理系マスタ|||ユーザーマスタ",
	"マスタ保守|||管理系マスタ|||承認ルートマスタ",
	"マスタ保守|||業務系マスタ",
	"マスタ保守|||業務系マスタ|||締日カレンダーマスタ",
	"マスタ保守|||業務系マスタ|||受渡場所マスタ",
	"マスタ保守|||業務系マスタ|||メーカーマスタ",
	"マスタ保守|||業務系マスタ|||品名マスタ",
	"マスタ保守|||業務系マスタ|||品名マスタ一括更新（アップロード） ",
	"マスタ保守|||業務系マスタ|||品名分類マスタ",
	"マスタ保守|||業務系マスタ|||通貨マスタ",
	"マスタ保守|||業務系マスタ|||単位マスタ ",
	"マスタ保守|||業務系マスタ|||勘定科目マスタ",
	"マスタ保守|||業務系マスタ|||勘定科目マスタ|||新規",
	"マスタ保守|||業務系マスタ|||勘定科目マスタ|||変更",
	"マスタ保守|||運用系マスタ",
	"マスタ保守|||運用系マスタ|||お知らせ情報",
	"マスタ保守|||運用系マスタ|||ヘルプマスタ",
	"マスタ保守|||運用系マスタ|||項目名称マスタ___../mstItemName/body.vm",
	"お気に入り",
	"お気に入り|||見積依頼伝票",
	"お気に入り|||購入依頼伝票"*/
);

var MENUOPEN = false,id=0,MENUCNT=0,MAXMENUNO=5,OPENLOADING=false;
var ALARM = new Array(0,1,1,0,0,1,0,0);
var menustr = "";

function write2(wstr) {
	menustr = menustr + wstr;
}

function createMenu() {
	var w,i,cnt=0;
	write2('<TABLE CLASS="NoBorder"><TR>');
	write2('<TD STYLE="width:85px;text-aling:center;height:28px;white-space:nowrap;" BACKGROUND="../image/picMenu0.gif">&nbsp;</TD>');
	for(i=0; i<MenuList.length; i++) {
		if( getIndentNo(MenuList[i])==0 ) {
			write2('<TD STYLE="text-aling:center;vertical-align:top;padding-top:3px;height:28px;white-space:nowrap;" ID="MENU'); write2(cnt); write2('"');
			if( ALARM[cnt]>0 ) {
				write2(' BACKGROUND="../image/picMenu1_.gif"');
			} else {
				write2(' BACKGROUND="../image/picMenu1.gif"');
			}

			write2('>');
//			if( cnt==0 ) {
				//write2('<SPAN CLASS="MenuFont">&nbsp;&nbsp;</SPAN>');
//			}

			w = MenuList[i].split("___");
			write2('<SPAN CLASS="MenuFont">');
			if( w[0]=="お気に入り" ) {
				write2('<IMG src="../image/picStar.gif" ALIGN="left">');
			}
			write2('<A ID="MENUSTR_'); write2(cnt+'" ONMOUSEOVER="this.style.backgroundColor=\'plum\';if( MENUOPEN ) {openMenu(this,0,'+cnt+');}" ONMOUSEOUT="if( !MENUOPEN ) {this.style.backgroundColor=\'transparent\'}" ONCLICK="if( MENUOPEN ) { ');
				if( w.length > 1 ) {
					write2('changePage(\''+w[1]+'\');');
				} else {
					write2('closeMenu();');
				}

			write2('} else { ');
				if( w.length > 1 ) {
					write2('changePage(\''+w[1]+'\');');
				} else {
					write2('openMenu(this,0,'+cnt+'); ');
				}
			write2('}">');

			write2("&nbsp;"+w[0]+"&nbsp;");
			write2('</A>');
			//write2('<SPAN CLASS="MenuFont">&nbsp;&nbsp;&nbsp;</SPAN>');
			write2('</SPAN>');
			write2('</TD>');
			cnt++;
		}
	}
	write2('<TD STYLE="width:20px;text-aling:center;height:28px;white-space:nowrap;" BACKGROUND="../image/picMenu2.gif">&nbsp;</TD>');
	write2('</TR></TABLE>');
	MENUCNT = cnt;
	for(i=0; i<=MAXMENUNO; i++) { // １つ多くとる。
		write2('<TABLE ID="MENUWINDOW'+i+'" CLASS="NoBorder" STYLE="position:absolute;left:0px;z-index:' +(1000+i)+';filter:progid:DXImageTransform.Microsoft.DropShadow(color=#666666,offX=4,offY=4,positive=1);"><TBODY STYLE="display:none;" ID="LEVEL'+ i + '"></TBODY></TABLE>');
	}
}

function openMenu(obj,level,topmenuNo,childNo) {

	closeConfig();

	var h,i,j,w,wStr;
	var tr,td,span;

	if( OPENLOADING ) {
		return;
	}

	if( level==0 ) {
		for(i=0; i<MAXMENUNO; i++) {
			setDisplay("LEVEL"+i,false);
		}
		for(i=0; i<MENUCNT; i++) {
			if( i==topmenuNo ) {
				getObj("MENUSTR_"+i).style.backgroundColor = "plum";
			} else {
				getObj("MENUSTR_"+i).style.backgroundColor = "transparent";
			}
		}
	} else {
		w = obj.id.lastIndexOf("_");
		getObj(obj.id.substring(0,w)).style.backgroundColor = "plum";
	}

	MENUOPEN = true;
	for(i=getObj("LEVEL"+level).childNodes.length-1; i>=0; i--) {
		getObj("LEVEL"+level).removeChild(getObj("LEVEL"+level).childNodes.item(i));
	}
	for(i=level+1; i<MAXMENUNO; i++) {
		setDisplay("LEVEL"+i,false);
	}
	var childno=0;
	var menustr = trim(getText2(obj));
	if( (w=menustr.toUpperCase().indexOf("<IMG"))>=0 ) {
		menustr = menustr.substring(0,w);
	}
	var wMenuLevel = new Array(MAXMENUNO);
	var wIndent = -1;
	for(i=0; i<MAXMENUNO; i++) {
		wMenuLevel[i] = -1;
	}

	var wNo = -1;
	for(i=0; i<MenuList.length; i++) {
		if( getIndentNo(MenuList[i])<wNo ) {
			for(j=getIndentNo(MenuList[i])+1; j<MAXMENUNO; j++) {
				wMenuLevel[j] = -1;
			}
		}
		wNo = getIndentNo(MenuList[i]);
		wMenuLevel[getIndentNo(MenuList[i])]++;
		if( getIndentNo(MenuList[i])==(level+1) && getMenuItem(MenuList[i],level).split("___")[0]==menustr ) {
			var wIdElements = obj.id.replace("MENUSTR_","").split("_");
			var wFlg = true;
			for(j=0; j<=level; j++) {
				//alert(j+":"+wMenuLevel[j]+":"+wIdElements[j]);
				if( wMenuLevel[j] != eval(wIdElements[j]) ) {
					wFlg = false;
					break;
				}
			}
			if( !wFlg ) {
				continue;
			}
			td = document.createElement("TD");
			td.id = obj.id + "_" + (childno++);
			td.style.width = "auto";
			td.style.height = "auto";
			td.onmouseout = function() { this.style.backgroundColor = "#FFFFFF"; }
			td.onmouseover = function() {
				var obj = this.parentNode.parentNode;
				for(i=0; i<obj.childNodes.length; i++) {
					obj.childNodes.item(i).childNodes(0).style.backgroundColor = "#FFFFFF";
				}
				this.style.backgroundColor = "plum";
				openMenu(this,level+1);
			}
			w = getMenuItem(MenuList[i],level+1).split("___");
			if( isIE() ) {
				setText2(td,w[0]);
			} else {
				td.innerHTML = w[0];
			}
			if( i<MenuList.length-1 && getIndentNo(MenuList[i+1])==level+2 ) {
				img = document.createElement("IMG");
				img.src = "../image/mrkNextmenu.gif";
				td.insertBefore(img,null);
			}

			if( w.length>1 ) {
				td.className = "MenuList";
				td.setAttribute("url",w[1]);
				td.onclick = function() { changePage(this.getAttribute("url")); }
			} else {
				td.className = "MenuList2";
			}
			tr = document.createElement("TR");
			tr.insertBefore(td,null);
			if( level>=MAXMENUNO-1 ) {
				alert("これ以上メニューを表示できません。");
				return;
			}
			getObj("LEVEL"+level).insertBefore(tr,null);
			setDisplay("LEVEL"+level,true);
		}
	}

	var x = 88,y = 0;
	if( level== 0 ) {
		for(i=0;i<topmenuNo; i++) {
			x += eval(getObj("MENU"+i).offsetWidth);
		}
		y = 61;
	} else {
		x = eval(getObj("MENUWINDOW"+(level-1)).offsetLeft);
		x += eval(getObj("MENUWINDOW"+(level-1)).offsetWidth);
		x -= 10;
		y = eval(getObj("MENUWINDOW"+(level-1)).offsetTop);
		w = obj.id.split("_");
		w = eval(w[w.length-1]);
		for(i=0; i<eval(w); i++) {
			y += eval(obj.offsetHeight);
		}
		y += 6;
	}
	getObj("MENUWINDOW"+level).style.left = x;
	getObj("MENUWINDOW"+level).style.top = y;

	OPENLOADING = false;

}

function closeMenu() {
	var i;
	for(i=0; i<MAXMENUNO; i++) {
		setDisplay("LEVEL"+i,false);
	}
	for(i=0; i<MENUCNT; i++) {
		getObj("MENUSTR_"+i).style.backgroundColor = "transparent";
	}
	MENUOPEN = false;
}

function getIndentNo(data) {
	return data.split("|||").length - 1;
}
function getMenuItem(data,level) {
	if( level<0 || level>MAXMENUNO ) {
		return "";
	}
	var w = data.split("|||");
	if( w.length > level ) {
		return w[level];
	} else {
		return "";
	}
}





//-->
</SCRIPT>
</HEAD>

<BODY ONLOAD="onLoad();" CLASS="Body" ALIGN="center" topmargin="0" leftmargin="0" STYLE="overflow-y:hidden;">
<FORM NAME="Body">

<TABLE ID="MENU" CLASS="NoBorder" STYLE="width:100%;height:100%;"><TR>
<TD CLASS="NoBorder" STYLE="height:64px;border-bottom:1px solid black;" BGCOLOR="#000000">

	<TABLE CLASS="NoBorder" STYLE="width:100%;height:64px;z-index:0;"><TR>
		<TD BACKGROUND="../image/header1.gif" STYLE="height:40px;background-repeat:no-repeat;">
			<TABLE CLASS="NoBorder" STYLE="width:100%;">
				<TR>
					<TD STYLE="width:220px;">&nbsp;</TD>
					<TD STYLE="text-align:left;padding-top:4px;">
						<TABLE CLASS="NoBorder"><TR>
							<TD STYLE="vertical-align:top;"><IMG SRC="../image/mrkUsericon.gif">&nbsp;</TD>
							<TD NOWRAP CLASS="RoleName" ALIGN="left" ID="TEST">
<!--								<SPAN ID="ROLENAME">購入依頼者権限</SPAN><BR>-->
								<SPAN CLASS="LastLogin">最終ログイン日時：2008/12/26 18:25:15</SPAN><BR>
								<SPAN CLASS="UserName">風呂木屋 粋人</SPAN>
							</TD>
							<TD STYLE="text-align:right;">
								<SELECT NAME="Roles" CLASS="Small" ONCHANGE="changeRole()" STYLE="display:none;">
									<OPTION VALUE="0">　　　　　　　　　　</OPTION>
								</SELECT>
							</TD>
						</TR></TABLE>
					</TD>
					<TD STYLE="text-align:right;white-space:nowrap;">
						<TABLE CLASS="NoBorder" STYLE="width:100%;">
							<TR>
								<TD CLASS="NoBorder"><A HREF="#"><IMG SRC="../image/cmdBack.gif" ONMOUSEOVER="this.src='../image/cmdBack_.gif'" ONMOUSEOUT="this.src='../image/cmdBack.gif'" BORDER="0" ONCLICK="history.back();"></A></TD>
								<TD CLASS="NoBorder" ID="CMDUSEROFF"><IMG SRC="../image/cmdUser.gif" ONCLICK="openConfig();" ONMOUSEOVER="this.src='../image/cmdUser_.gif'" ONMOUSEOUT="this.src='../image/cmdUser.gif'" BORDER="0"></TD>
								<TD CLASS="NoBorder" ID="CMDUSERON0" CLASS="NoBorder" STYLE="z-index:2000;display:none;"><IMG src="../image/cmdUserConfig.gif" ONCLICK="closeConfig();" BORDER="0"></IMG></TD>
								<TD CLASS="NoBorder"><A HREF="#"><IMG SRC="../image/cmdLogout.gif" ONMOUSEOVER="this.src='../image/cmdLogout_.gif'" ONMOUSEOUT="this.src='../image/cmdLogout.gif'" BORDER="0"></A></TD>
							</TR>
							<TR STYLE="position:absolute;display:none;" ID="CMDUSERON1">
								<TD COLSPAN="3" CLASS="NoBorder" STYLE="potision:absolute;">

<!--ユーザーコンフィグ-->
<TABLE CLASS="BoxNormal" STYLE="width:95%;filter:progid:DXImageTransform.Microsoft.DropShadow(color=#666666,offX=4,offY=4,positive=1);">
	<TR>
		<TD CLASS="Font15" STYLE="background-color:#000000;text-align:left;vertical-align:middle;">USER CONFIGURATION.</TD>
		<TD STYLE="text-align:right;background-color:#000000;padding-right:6px;"><IMG STYLE="cursor:pointer;" SRC="../image/btnMiniClose4.gif" ONCLICK="closeConfig();" ></TD>
	</TR>
	<TR>
		<TD COLSPAN="2" CLASS="BoxNormal" STYLE="text-align:left;">
			<TABLE CLASS="NoBorder" STYLE="width:95%;">
				<TR><TD CLASS="Font8" STYLE="text-align:left;white-space:nowrap;">●フォントの大きさ：</TD>
				<TD CLASS="Font8" STYLE="text-align:right;white-space:nowrap;"><INPUT TYPE="radio" NAME="FontSize" ONCLICK="changeFontSize('L');">&nbsp;大&nbsp;&nbsp;&nbsp;&nbsp;<INPUT TYPE="radio" NAME="FontSize" ONCLICK="changeFontSize('M');">&nbsp;中&nbsp;&nbsp;&nbsp;&nbsp;<INPUT TYPE="radio" NAME="FontSize" ONCLICK="changeFontSize('S');">&nbsp;小</TD></TR>
			</TABLE>
		</TD>
	</TR>
</TABLE>
								</TD>
							</TR>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD COLSPAN="3" STYLE="white-space:nowrap;height:24px;padding-left:0px;">
						<DIV><SCRIPT LANGUAGE="javascript" TYPE="text/javascript">document.write(menustr);</SCRIPT></DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
		<TD CLASS="NoBorder" STYLE="width:10px;height:40px;background-repeat:no-repeat;" BACKGROUND="../image/header3.gif">&nbsp;</TD>
		</TR>
		<TR>

	</TR></TABLE>

</TD></TR>
<TR><TD CLASS="NoBorder" HEIGHT="*" STYLE="height:*;">
<TEXTAREA NAME="a" width="30" height="30">
</TEXTAREA>

	<IFRAME STYLE="width:100%;height:100%;" ID="BODYAREA" NAME="body" SRC="../wfm/body.vm" SCROLLING="no" BORDER="0" NORESIZE framespacing="0" frameborder="0" MARGINWIDTH="0" MARGINHEIGHT="0">
</IFRAME>

</TD></TR>
</TABLE>



</FORM>
</BODY>


</HTML>
