<!doctype html>
<html lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-script-type" content="text/javascript">
<link rel="stylesheet" href="../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../include/Color.css" type="text/css">
<script language="javascript" type="text/javascript" src="../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../include/date.js"></script>
<script>
function changeFontSize() {
}

function showButton() {

    if(window.opener) {
        document.getElementById("button_sub").style.display = "";
        return;
    }
    document.getElementById("button_main").style.display = "";
}

</script>
</head>
<body class="Body" onload="showButton();">
<BR><BR><BR>
    <table style="margin:auto;">
        <tr>
            <td>
                <table class="NoBorder" width="98%">
                    <tbody class="Box1G ListBorderWidth">
                        <tr>
                            <td nowrap class="Box1H FontBoxHeader">
                                #customSpringMessage('ERROR_CODE')<!--エラーコード-->
                            </td>
                            <td nowrap class="Box1D FontLargeBold">
                                S002
                            </td>
                        </tr>
                        <tr>
                            <td nowrap class="Box1H FontBoxHeader">
                                #customSpringMessage("ERROR_MESSAGE")<!--メッセージ-->
                            </td>
                            <td nowrap class="Box1D FontLargeBold">
                                #customSpringMessage("S002")
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>&nbsp;
            </td>
        </tr>
        <tr id="button_sub" style="display:none;">
            <td align="center">
                <input type="button" onclick="javascript:window.close();" value="#customSpringMessage('CLOSE')">
            </td>
        </tr>
        <tr id="button_main" style="display:none;">
            <td align="center">
                <input type="button" onclick="javascript:top.location.href='$!requestContext.contextPath/lgn/logout/logout';return false;" value="#customSpringMessage('SCREEN_TO_LOGIN')">
            </td>
        </tr>
    </table>
</body>
</html>
