<!doctype html>
<html LANG="ja">
<HEAD>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../include/Layout.css" type="text/css">
<SCRIPT LANGUAGE="javascript" TYPE="text/javascript" SRC="../include/common.js"></SCRIPT>
</head>
<body class="Body">
	<br>
	<table class="NoBorder" width="100%"><tr>
		<td align="center"><img src="../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')...<!--問い合わせ中...--></span></td>
	</tr></table>
</body>
</html>
