<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage('INFORMATION')</title><!-- Information -->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<style>
.scr {
  overflow: auto;
  width: 500px;
  height: 150px;
  background-color: white;
}

table.HomeBox {
    background-color:white;
    behavior: url("../../include/ie-css3.htc");
    border: 1px solid #333333;
    border-radius: 16px;
    box-shadow: 3px 3px 0px #000000;
    margin-left:auto;
    margin-right:auto;
    padding:16px;
    position: relative;
    z-index:200;
    zoom:1;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
}

</style>


</head>
<body leftmargin="0" topmargin="0" style="width:auto; height:auto;" onload="window.moveTo(60,16);document.getElementById('close').focus();">
<center>
    <br>
    <table class="HomeBox" width="90%">
        <tr>
            <td align="left" valign="top">
                <table class="NoBorder" width="100%">
                    <tr><td>#customSpringMessage('SPMST060_HEADER_COMMENT')</td></tr>
                    <tr>
                        <td>
                            <span class="CornerTopBlue">
                            <span class="Corner1"></span><span class="Corner2"></span><span class="Corner3"></span><span class="Corner4"></span></span>
                            <table class="CornerMidBlue" width="100%">
                                <tr>
                                    <td class="PaddingL">
                                        <span class="ScreenName Brown">#out($!informationDetail.title)<!--システムメンテナンスのお知らせ--></span>
                                        <br>
                                        <span class="FontSmallBold">
                                        <br>
                                        #customSpringMessage('SEND_USER')：#out($!informationDetail.custUser)<!--発信者：情報システム部-->
                                        <br>
                                        #customSpringMessage('PUBLICATION_PERIOD')：#out($!informationDetail.validStartDate.dateOfymdFormat) ～ #out($!informationDetail.validEndDate.dateOfymdFormat)<!--掲載期間：2012/01/01 ～ 2012/01/31-->
                                        </span>
                                        <br>
                                    </td>
                                </tr>
                            </table>
                            <span class="CornerBtmBlue">
                            <span class="Corner4"></span><span class="Corner3"></span><span class="Corner2"></span><span class="Corner1"></span></span>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td class="FontSmall PaddingL">
                <div class="scr">
                        #out($!informationDetail.content.comment)
                </div>
                        </td>
                    </tr>
                    <tr><td>#customSpringMessage('SPMST060_FOOTER_COMMENT')</td></tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
      <input id="close" type="button" class="SmallButton" value="#customSpringMessage('CLOSE')" onclick="window.close()"><!--閉じる-->
    </center>
  </body>

</html>

