<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sp.dataaccess.mst.valueaddedtaxrelief.ValueAddedTaxReliefMapper">
    <select id="getValueAddedTaxRelief" parameterType="String" resultType="fw.domain.mst.amount.valueaddedtaxrelief.ValueAddedTaxRelief">
        SELECT 
            RATE_START_DATE as "rateStartDate"
            , TAX_RATE as "taxRate"
            , TERM_FLG as "termFlg"
            , VAT_RELIEF_IND as "valueAddedTaxReliefInd"
        FROM M_VAT_RELIEF
        WHERE RATE_START_DATE &lt;= #{rateStartDate}
        AND ROWNUM = 1
        ORDER BY RATE_START_DATE DESC
    </select>
    
    <select id="getValueAddedTaxReliefBetweenCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM M_VAT_RELIEF
        WHERE RATE_START_DATE BETWEEN #{rateStartDateFrom} AND #{rateStartDateTo}
        AND TERM_FLG = '1'
    </select>
</mapper>