<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sp.check.impl.exclusive.QuotReqExclusiveCheckMapper">

    <select id="searchExclusive" resultType="String">
        SELECT
               S_QUOT_REQ.QUOT_REQ_SEQ
          FROM S_QUOT_REQ
         WHERE
               S_QUOT_REQ.QUOT_REQ_SEQ = #{quotReqSeq}
               AND S_QUOT_REQ.LAST_UPD_DATE = #{lastUpdDate}
        FOR UPDATE NOWAIT
    </select>
    
</mapper>
    