    <td $!_td_style_left>
        #customSpringMessage($!itemDefinitionDetail.elementNameCd)
    </td>
    <td $!_td_style_right>
        #if("" != "$!propertyValue")
            <a href="#" onclick="downloadExt('$!property','$!binary');" $!_event>$!propertyValue</a>&nbsp;
        #end
    </td>