<!doctype html>
<html lang="ja">
<head>
<title>事業所検索</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-script-type" content="text/javascript">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript">
<!--
#set($searchCondition=$sectionPlaceSearchCondition)

#parse("./common/common_js.vm")

function onLoad() {
    TableSort.init();
    dataLoadHasPage();
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        return;
    }
}

//-->
</script>

</head>
<body id="BODY" class="Body" topmargin="10" leftmargin="10" marginwidth="0" marginheight="0" align="left" onload="onLoad();">
#if($!errorMessage && $!errorMessage!="")
<div class="error">
    $!errorMessage
</div>
#end
	<form name="Body">
        #if($itemList.sectionPlacePopupItemList.size()!=0)
        <table width="100%"  bgcolor="#EAEAEA">
            <tr>
                <td align="left"><span class="FontMiddleBold">候補</span></td>
            </tr>
        </table>

		<table id="TABLE" class="ListArea" width="100%">
			<thead>
                <tr id="Header">
                    <th class="BoxHeaderCenter FontSmall" width="5%;">#customSpringMessage('ACTION')<!--処理--></th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="M_SECTION_PLACE.SECTION_PLACE_CD"
                        onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_SECTION_PLACE.SECTION_PLACE_CD')">
                        #customSpringMessage('SECTION_PLACE_CD')<!--事業所コード--></th>
                    <th label="case" class="BoxHeaderLeft FontSmall" id="M_SECTION_PLACE_LANG.SECTION_PLACE_NAME"
                        onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_SECTION_PLACE_LANG.SECTION_PLACE_NAME')">
                        #customSpringMessage('SECTION_PLACE_NAME')<!--事業所名--></th>
                </tr>
			</thead>
			#foreach($!deptItem in $!itemList.sectionPlacePopupItemList)
			<tbody id="Row_0">
				<tr>
                    <td class="BoxDetailCenter">
                        <input type="button" class="miniButton" value="選択" onclick="javascript:parent.selectRow('$!deptItem.sectionPlaceCd','$!deptItem.sectionPlaceName');">
                    </td>
					<td class="BoxDetailCenter"><span class="FontList">$!deptItem.sectionPlaceCd</span></td>
					<td class="BoxDetailLeft"><span class="FontList">$!deptItem.sectionPlaceName</span></td>
				</tr>
			</tbody>
			#end
		</table>
        #end
		<br>
        <table id="WAIT" class="NoBorder" style="display:none;" width="100%"><tr><td align="center"><br><br>
        <img src="../../image/wait.gif"><br><span class="FontMini"><br>問い合わせ中...</span>
	</form>
</body>
</html>
