<!doctype html>
<html lang="ja">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<title>事業所検索</title>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-script-type" content="text/javascript">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/ime.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript">
<!--
var maxSearchHeight = 120;
var minSearchHeight = 30;

#parse("./common/common_js.vm")
function onLoad() {

    bodyLoad();
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }
    document.getElementById("SEARCH_AREA").style.height = maxSearchHeight;
    if(window.opener.onLoadFlag){
        setParam();
        window.opener.onLoadFlag = false;
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        return;
    }
    var isShowList = "#jsEscape($isShowList)";
    if (isShowList == 'true'){
        iframeChange("${flowExecutionUrl}&_eventId=search","pageid","companyList");
    }

}

function selectRow(mcd,mname) {
    window.opener.setSectionPlace(mcd,mname,getObj("companyCd").value);
    window.parent.close();
    try {
        window.parent.afterProc();
    } catch( e ) {}
}

function setParam(){
    var termFlag = window.opener.termFlag;
    getObj("searchCondition.termFlg").value = termFlag;
    if(termFlag == "1"){
        getObj("searchCondition.termFlg").value = "9";
    }
    var companyCdSelect = getObj("companyCd");
    for(var i=0;i <companyCdSelect.length;i++){
        if(companyCdSelect.getElementsByTagName("option")[i].value == window.opener.companyCd){
            companyCdSelect.getElementsByTagName("option")[i].selected = true;
            break;
        }
    }
    var changeFlag = window.opener.changeFlag;
    if(changeFlag == "0"){
        getObj("companyCd").disabled = true;
    }
}

//-->
</script>
</head>
<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="center" width="100%" height="100%"  onload="onLoad();" bgcolor="#EAEAEA" scroll="no">
<form id="BodyForm" name="Body" action="${flowExecutionUrl}&_eventId=validate" method="post">
    #customFormHiddenInput("pageid" "companyList")
    #customFormHiddenInput("searchCondition.termFlg" "")
    <table class="NoBorder" width="100%" height="100%">
        <tr>
            <td id="SEARCH_AREA" class="SearchArea"><!-- onLoadで変更 -->
                <span class="CornerTopGray">
                    <span class="Corner1"></span><span class="Corner2"></span><span class="Corner3"></span><span class="Corner4"></span>
                </span>
                <table class="CornerMidGray" width="100%">
                    <tr>
                        <td nowrap width="30%" align="left" class="ScreenName">
                            <script LANGUAGE="javascript" type="text/javascript">document.write(document.title);</script>
                        </td>
                        <td nowrap align="right">
                            <input type="button" class="MiddleButton" value="閉じる" onClick="window.close();">
                        </td>
                    </tr>
                </table>
                <span class="CornerBtmGray">
                    <span class="Corner4"></span><span class="Corner3"></span><span class="Corner2"></span><span class="Corner1"></span></span>


                <table width="100%">
                    <tr id="SEARCH_AREA2">
                        <td id="Adjust">
                            <!-- 検索条件入力部 -->
                            <table class="NoBorder" width="100%">
                                <tr>
                                    <td>
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td nowrap class="FontSmallBold" align="right">#customSpringMessage('COMPANY_NAME')<!--会社名--></td>
                                                <td nowrap class="FontSmallBold" align="left">
                                                    #customFormSingleSelect("searchCondition.companyCd" $companyList "")
                                                </td>
                                            </tr>
                                            <tr>
                                                <td nowrap class="FontSmallBold" align="right">#customSpringMessage('SECTION_PLACE_CD')<!--事業所コード--><span class="FontComment">＊</span></td>
                                                <td nowrap class="FontSmallBold" align="left">
                                                    #springFormInput("searchCondition.sectionPlaceCd" "class='Small noIME' maxlength=12 type='text' size=20 maxlength='20'")
                                                </td>
                                            </tr>
                                            <tr>
                                                <td nowrap class="FontSmallBold" align="right">#customSpringMessage('SECTION_PLACE_NAME')<!--事業所名--><span class="FontComment">％</span></td>
                                                <td nowrap class="FontSmallBold" align="left">
                                                    #springFormInput("searchCondition.sectionPlaceName" "class='Small' maxlength=30 type='text' size=40")
                                                </td>
                                            </tr>
                                            <tr>
                                                <td nowrap align="left" colspan="4" nowrap class="FontComment">
                                                    <img src="../../image/mrkInfo.gif" >＊:前方一致 / ％:中間一致 / なし:完全一致</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td nowrap class="FontSmallBold" align="right">
                                        <br>
                                        <input type="submit" class="LargeButton" value="#customSpringMessage('ACTION_SEARCH')"><!-- 検索 -->
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr><td class="NoBorder" style="height:0px;">
                #parse("./common/src_title.vm")
        </td></tr>
        <tr><td class="error" style="height:0px;">
            $!errorMessage
        </td></tr>
        <tr><td class="NoBorder" style="height:auto;">
            <iframe id="DATAAREA" name="DATAAREA" class="DataArea" framespacing="0" frameborder="0" src="../../layout/default.vm" scrolling="no" frameborder="no" style="position:static;width:100%;border:0px solid #999999;height:100%;z-index:0;"></iframe>
        </td></tr>
    </table>
</form>
</body>
</html>
