<!doctype html>
<html lang="ja">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<title>#customSpringMessage('QUOT_ADO_INFO')</title>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-script-type" CONTENT="text/javascript">

<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">

<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/ime.css" type="text/css">

<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript">
<!--
var pinName="NewconfirmQuotado_Pin";
#parse("./common/common_js.vm")

function onLoad(){
    if(parent.parent.document.getElementById("quickLink").value=='true'){
        parent.parent.setQuickLinkAdo('false');
        document.getElementById("quickLink").value=='false';
        iframeChange("${flowExecutionUrl}&_eventId=quickLinkSearch","pageid","quotAdoList",'quickLink',true);
    }
    bodyLoad();
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }
    var errorMsg = "$!errorMessage";

    if (errorMsg != ""){
        getObj("TR_ERROR").style.display = "";
        setErrorMessage("ERRORDIV", errorMsg, "DATAAREA");
        return;
    }
    var isDownload = "#jsEscape($!isDownLoadValidate)";
    if (isDownload == 'true') {
        iframeChange("${flowExecutionUrl}&_eventId=download","pageid","SPNEW021","HIDDENAREA");
    } else {
        var isShowList = "#jsEscape($isShowList)";
        if (isShowList == 'true'){
            iframeChange("${flowExecutionUrl}&_eventId=search","pageid","SPNEW021");
        }
        var isQuickLink = "#jsEscape($isQuickLink)";
        if (isQuickLink == 'true'){
            iframeChange("${flowExecutionUrl}&_eventId=quickLinkSearch","pageid","SPNEW021",'quickLink',true);
        }
    }
}
function execSearch() {
    getObj("BodyForm").target="_self";
    buttonDisable();
    getObj("BodyForm").action = "${flowExecutionUrl}&_eventId=validate";
    getObj('BodyForm').submit();
}
function doDownload() {
    //メッセージは空設定
    getObj("ERRORDIV").innerHTML="";
    buttonDisable();
    setTimeout(buttonUsable,1000);
    getObj("BodyForm").target = "HIDDENAREA";
    getObj("BodyForm").action = "${flowExecutionUrl}&_eventId=downloadValidate";

    getObj("BodyForm").submit();
}
//-->
</script>
</head>
<body  class="BodyArea"  onload="onLoad();">
<form  id="BodyForm" name="Body" method="post">
    #customFormHiddenInput("searchCondition.page.pageRecorders.hidden" "$!defaultSearchCondition.searchCondition.page.pageRecorders")
    #customFormHiddenInput("dpoFlg.hidden" "$!defaultSearchCondition.dpoFlg")
    #customFormHiddenInput("adoption.hidden" "$!defaultSearchCondition.adoption")
    #customFormHiddenInput("quickLink" "false")
    #customFormHiddenInput("searchObject.searchObject.hidden" "$!defaultSearchCondition.searchObject.searchObject")
    <!-- ＊＊＊＊＊　カレンダーボックス　＊＊＊＊＊ -->
    <iframe id="CALENDARBOX" class="CALENDARBOX" framespacing="0"scrolling="no" frameborder="0" src="../../sbxCalendar/body.vm"></iframe>
    <table class="NoBorder" style="width:100%;height:100%;z-index:0;">
        <tr>
            <td id="SEARCH_AREA" class="SearchArea"><!-- onLoadで変更 -->
                #parse("./common/common_title_nonew.vm")
                <table width="100%">
                  <tr id="SEARCH_AREA2">
                    <td  id="Adjust" align="right" Valign="top">
                            <!-- 検索条件入力部 -->
                            <table class="NoBorder" width="100%">
                                <tr>
                                    <td align="left" colspan="4" nowrap>
                                        #customSpringMessage('SPNEW020_HEADER_COMMENT')
                                    </td>
                                </tr>
                             <tr>
                               <td>
                                <table class="NoBorder" width="100%">
                                    <tr>
                                        <td nowrap class="FontSmallBold" align="right">
                                            #customSpringMessage('QUOT_REQ_NO')<span class="FontComment">＊</span>
                                        </td>
                                        <td nowrap class="FontSmallBold" align="left">
                                            #springFormInput("searchCondition.quotReqNo" "size=33 maxLength=19 class='Small noIME'")
                                        </td>
                                        <td nowrap class="FontSmallBold" align="right">
                                            #customSpringMessage('QUOT_REQ_DATE')
                                        </td>
                                        <td nowrap class="FontSmallBold" align="left">
                                            #springFormInput("searchCondition.quotReqDateFrom.dateOfymdFormat" "size=12 maxLength=8 class='SmallAnk noIME' onblur='dateOnBlur(this);' onfocus='dateOnFocus(this);' ")
                                            <img class="Icon" src="../../image/btnCalendar.gif" onclick="initSearchBox(1,getObj('quotReqDateFrom.dateOfymdFormat'));">
                                            &nbsp;～&nbsp;
                                            #springFormInput("searchCondition.quotReqDateTo.dateOfymdFormat" "size=12 maxLength=8 class='SmallAnk noIME' onblur='dateOnBlur(this);' onfocus='dateOnFocus(this);' ")
                                            <img class="Icon" src="../../image/btnCalendar.gif" onclick="initSearchBox(1,getObj('quotReqDateTo.dateOfymdFormat'));">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td nowrap class="FontSmallBold" align="right">
                                            #customSpringMessage('QUOT_ADO_EDI')<!--採否-->
                                        </td>
                                        <td nowrap class="FontSmall" align="left">
                                            <div id="ListShow">
                                                #customFormRadioButtons("searchCondition.adoption" $QUOT_ADO_IND "" "" "")
                                            </div>
                                        </td>
                                        <td nowrap class="FontSmallBold" align="right">
                                        </td>
                                        <td nowrap class="FontSmallBold" align="left">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td nowrap class="FontSmallBold" align="right">
                                            #customSpringMessage('DISPLY_OBJECT')<!--表示対象-->
                                        </td>
                                        <td nowrap class="FontSmall" align="left">
                                            <div id="ListShow">
                                                #customFormRadioButtons("searchCondition.dpoFlg" $NEW_CHK_IND "" "" "")
                                            </div>
                                        </td>
                                        <td nowrap class="FontSmallBold" align="right">
                                        </td>
                                        <td nowrap class="FontSmallBold" align="left">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" colspan="4" nowrap class="FontComment">
                                            #customSpringMessage('SPNEW020_FOOTER_COMMENT')
                                        </td>
                                    </tr>
                                  </table>
                                </td>
                                <!-- 行数を変更する場合はROWSPANに注意！ -->
                                <td nowrap class="FontSmallBold" align="right" ROWSPAN="3" align="right" Valign="top">
                                 <br>
                                 <input type="button" class="LargeButton" value="#customSpringMessage('ACTION_SEARCH')" onclick="javascript:execSearch();">
                                 <br><br>
                                 <a href="javascript:clear();">#customSpringMessage('ACTION_CLEAR_SEARCH_CRITERIA')</a>&nbsp;
                                </td>
                              </tr>
                            </table>
                       </td>
                    </tr>
                </table>
            </td>
        </tr>
                <tr>
            <td class="UploadArea" class="NoBorder" style="height:35px;border-bottom:1px solid #999999;text-align:left;vertical-align:top;">
                #parse("./common/new_download.vm")
            </td>
        </tr>
        <tr id="TR_ERROR" style="display: none;">
            <td class="error" style="height:0px;">
                <div id="ERRORDIV">$!errorMessage </div>
            </td>
        </tr>
        <tr style="vertical-align:top;height:100%;">
            <td class="NoBorder" style="height:100%;">
                <iframe id="DATAAREA" name="DATAAREA" class="DataArea" framespacing="0" frameborder="0" src="../../layout/default.vm" scrolling="no" frameborder="no"></iframe>
            </td>
        </tr>

</table>
<iframe id="HIDDENAREA" name="HIDDENAREA" framespacing="0" frameborder="0" src="" scrolling="no" frameborder="no" style="display:none"></iframe>
</FORM>

</BODY>
</html>
