<!doctype html>
<html lang="ja">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<title>#customSpringMessage('INSPECTION_INFORMATION')</title><!-- 検収情報 -->
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-script-type" CONTENT="text/javascript">

<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">

<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/ime.css" type="text/css">

<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript">
<!--
var pinName="newconfirmAcceptanceInfo_Pin";
#parse("./common/common_js.vm")

function onLoad(){
    ## ----- ＩＴ３-00187-000 20130703 SBO_SOKOU DEL START -----
    #*
    ## +++++ 強化-01230-000 2013/05/16 ADD SBO_KANGJW START +++++
    //ダウンロードボタンは非表示となる
    var downloadFlg = #out($downloadFlg);
    if(downloadFlg != "1"){
        document.getElementById('download').style.display='none';
    }
    //新着全件確認ボタンは非表示となる
    var newConfirmAllFlg = #out($newConfirmAllFlg);
    if(newConfirmAllFlg != "1"){
        document.getElementById('newConfirmAll').style.display='none';
    }
    ## +++++ 強化-01230-000 2013/05/16 ADD SBO_KANGJW END +++++
    ## +++++ 強化-01822-000　2013/06/24 ADD SBO_KANGJW START +++++\
    //新着確認ボタンは非表示となる
    var newConfirmFlg = #out($newConfirmFlg);
    if(newConfirmFlg != "1"){
        document.getElementById('newConfirm').style.display='none';
    }
    ## +++++ 強化-01822-000　2013/06/24 ADD SBO_KANGJW END +++++
    *#
    ## ----- ＩＴ３-00187-000 20130703 SBO_SOKOU DEL -END- -----
    if(parent.parent.document.getElementById("quickLink").value=='true'){
        parent.parent.setQuickLinkAcceptance('false');
        document.getElementById("quickLink").value=='false';
        iframeChange("${flowExecutionUrl}&_eventId=quickLinkSearch","pageid","acceptanceInfoList",'quickLink',true);
    }
    bodyLoad();
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }
    var errorMsg = "$!errorMessage";

    if (errorMsg != ""){
        getObj("TR_ERROR").style.display = "";
        setErrorMessage("ERRORDIV", errorMsg, "DATAAREA");
        return;
    }
     var isDownload = "#jsEscape($!isDownLoadValidate)";
    if (isDownload == 'true') {
        iframeChange("${flowExecutionUrl}&_eventId=download","pageid","SPNEW061","HIDDENAREA");
    } else {
        var isShowList = "#jsEscape($isShowList)";
        if (isShowList == 'true'){
            iframeChange("${flowExecutionUrl}&_eventId=search","pageid","SPNEW061");
        }
        var isQuickLink = "#jsEscape($isQuickLink)";
        if (isQuickLink == 'true'){
            iframeChange("${flowExecutionUrl}&_eventId=quickLinkSearch","pageid","SPNEW061",'quickLink',true);
        }
    }
}

function execSearch() {
    getObj("BodyForm").target="_self";
    ## +++++ 強化-00041-000 2013/04/03 ADD SBO_KANGJW START +++++
    buttonDisable();
    ## +++++ 強化-00041-000 2013/04/03 ADD SBO_KANGJW END +++++
    getObj("BodyForm").action = "${flowExecutionUrl}&_eventId=validate";
    getObj("BodyForm").submit();
}

function doDownload() {
    //メッセージは空設定
    getObj("ERRORDIV").innerHTML="";
    getObj("BodyForm").target = "HIDDENAREA";
    buttonDisable();
    setTimeout(buttonUsable,1000);
    getObj("BodyForm").action = "${flowExecutionUrl}&_eventId=downloadValidate";

    getObj("BodyForm").submit();
}
//-->
</script>
</head>
<body  class="BodyArea" onload="onLoad();">
<form  id="BodyForm" name="Body" method="post">
    #customFormHiddenInput("searchCondition.page.pageRecorders.hidden" "$!defaultSearchCondition.searchCondition.page.pageRecorders")
	#customFormHiddenInput("reqTypeInd.hidden" "$!defaultSearchCondition.reqTypeInd")
    #customFormHiddenInput("quickLink" "false")
    #customFormHiddenInput("searchObject.searchObject.hidden" "$!defaultSearchCondition.searchObject.searchObject")
    <!-- ＊＊＊＊＊　カレンダーボックス　＊＊＊＊＊ -->
    <iframe id="CALENDARBOX" class="CALENDARBOX" framespacing="0"scrolling="no" frameborder="0" src="../../sbxCalendar/body.vm"></iframe>
    <table class="NoBorder" style="width:100%;height:100%;z-index:0;">
        <tr>
            <td id="SEARCH_AREA" class="SearchArea"><!-- onLoadで変更 -->
                #parse("./common/common_title_nonew.vm")
                <table width="100%">
                    <tr id="SEARCH_AREA2">
                        <td  id="Adjust" align="right" Valign="top">
                            <!-- 検索条件入力部 -->
                            <table class="NoBorder" width="100%">
                                <tr>
                                    <td align="left" colspan="4" nowrap>
                                        #springMessage('SPNEW060_HEADER_COMMENT')
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage('DELIV_KEY_NO')<span class="FontComment">＊</span><!-- 納品キー番号 -->
                                    </td>
                                    <td nowrap class="FontSmallBold" align="left">
                                        #springFormInput("searchCondition.delivKeyNo" "size=33 maxLength=23 class='Small noIME'")
                                    </td>
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage('ACCEPT_DATE')<!-- 検収日 -->
                                    </td>
                                    <td nowrap class="FontSmallBold" align="left">
                                        #springFormInput("searchCondition.acceptDateFrom.dateOfymdFormat" "size=12 maxLength=8 class='Small noIME' onblur='dateOnBlur(this);' onfocus='dateOnFocus(this);' ")
                                        <img class="Icon" src="../../image/btnCalendar.gif" onclick="initSearchBox(1,getObj('acceptDateFrom.dateOfymdFormat'));">
                                        &nbsp;～&nbsp;
                                        #springFormInput("searchCondition.acceptDateTo.dateOfymdFormat" "size=12 maxLength=8 class='Small noIME' onblur='dateOnBlur(this);' onfocus='dateOnFocus(this);' ")
                                        <img class="Icon" src="../../image/btnCalendar.gif" onclick="initSearchBox(1,getObj('acceptDateTo.dateOfymdFormat'));">
                                    </td>
                                    <!-- 行数を変更する場合はROWSPANに注意！ -->
                                    <td nowrap class="FontSmallBold" align="right" ROWSPAN="4" align="right" Valign="top">
                                        <input type="button" class="LargeButton" value="#customSpringMessage('ACTION_SEARCH')" onclick="javascript:execSearch();">
                                        <br><br>
                                        ## 強化-00928-000 20130624 SBO_SOKOU MODIFY START
                                        ##<a href="javascript:clear('Adjust');">#customSpringMessage('ACTION_CLEAR_SEARCH_CRITERIA')</a>&nbsp;
                                        <a href="javascript:clear();">#customSpringMessage('ACTION_CLEAR_SEARCH_CRITERIA')</a>&nbsp;
                                        ## 強化-00928-000 20130624 SBO_SOKOU MODIFY -END-
                                    </td>
                                </tr>
                                <tr>
									<td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage('FISCAL_YEAR_MONTH')<!-- 計上年月 -->
                                    </td>
                                    <td nowrap class="FontSmallBold" align="left">
                                        #springFormInput("searchCondition.fiscalYearMonth.dateOfymFormat" "size=12 maxLength=6 class='Small noIME'  onblur='dateOnBlurYYYYMM(this);'
                                                        onfocus='dateOnFocus(this);'")
                                    </td>
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage('ARRIV_EXP_DATE')<!-- 納入日 -->
                                    </td>
                                    <td nowrap class="FontSmallBold" align="left">
                                        #springFormInput("searchCondition.arrivExpDateFrom.dateOfymdFormat" "size=12 maxLength=8 class='Small noIME' onblur='dateOnBlur(this);' onfocus='dateOnFocus(this);' ")
                                        <img class="Icon" src="../../image/btnCalendar.gif" onclick="initSearchBox(1,getObj('arrivExpDateFrom.dateOfymdFormat'));">
                                        &nbsp;～&nbsp;
                                        #springFormInput("searchCondition.arrivExpDateTo.dateOfymdFormat" "size=12 maxLength=8 class='Small noIME' onblur='dateOnBlur(this);' onfocus='dateOnFocus(this);' ")
                                        <img class="Icon" src="../../image/btnCalendar.gif" onclick="initSearchBox(1,getObj('arrivExpDateTo.dateOfymdFormat'));">
                                    </td>
                                    <td nowrap class="FontSmallBold" align="right">
                                    </td>
                                    <td nowrap class="FontSmallBold" align="left">
                                    </td>
                                </tr>
								<tr>
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage('REQ_TYPE_IND')<!-- 依頼区分 -->
                                    </td>
                                    <td nowrap class="FontSmall" align="left">
                                        <div id="ListShow">
                                            #customFormRadioButtons("searchCondition.reqTypeInd" $REQ_TYPE_IND "" "" "" "")
                                        </div>
                                    </td>
                                    <td nowrap class="FontSmallBold" align="right">
                                    </td>
                                    <td nowrap class="FontSmallBold" align="left">
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage('DISPLY_OBJECT')<!-- 表示対象 -->
                                    </td>
                                    <td nowrap class="FontSmall" align="left">
                                        <div id="ListShow">
                                            #customFormRadioButtons("searchCondition.searchObject.searchObject" $NEW_CHK_IND "" "" "")
                                        </div>
                                    </td>
                                    <td nowrap class="FontSmallBold" align="right">
                                    </td>
                                    <td nowrap class="FontSmallBold" align="left">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="4" nowrap class="FontComment">
                                        #customSpringMessage('SPNEW060_FOOTER_COMMENT')
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="UploadArea" class="NoBorder" style="height:35px;border-bottom:1px solid #999999;text-align:left;vertical-align:top;">
                #parse("./common/new_download.vm")
            </td>
        </tr>
        <tr id="TR_ERROR" style="display: none;">
            <td class="error" style="height:0px;">
                <div id="ERRORDIV">$!errorMessage</div>
            </td>
        </tr>
        <tr style="vertical-align:top;height:100%;">
            <td class="NoBorder" style="height:100%;">
                <iframe id="DATAAREA" name="DATAAREA" class="DataArea" framespacing="0" frameborder="0" src="../../layout/default.vm" scrolling="no" frameborder="no"></iframe>
            </td>
        </tr>

</table>
<iframe id="HIDDENAREA" name="HIDDENAREA" framespacing="0" frameborder="0" src="" scrolling="no" frameborder="no" style="display:none"></iframe>
</FORM>

</BODY>
</html>
