<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage('SCREEN_M_USER_LIST')</title><!--ユーザーマスタ一覧 -->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">

<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-script-type" content="text/javascript">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery.tablefix.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript">
<!--
#set($searchCondition=$searchCondition)
#parse("./common/common_js.vm")
function onLoad() {
    dataLoadHasPage();
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW START +++++
        buttonUsableForList(alertMessage);
        ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW END +++++
        alert(alertMessage);
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        return;
    }
    var isShowUpdate = "#jsEscape($isShowUpdate)";
    if (isShowUpdate == 'true'){
        top.iframeChange("${flowExecutionUrl}&_eventId=edit","pageid","userUpdate");
    }
    var isShowDelete = "#jsEscape($isShowDelete)";
    if (isShowDelete == 'true'){
        top.iframeChange("${flowExecutionUrl}&_eventId=delete","pageid","userDelete");
    }

}

function openDetail(supplierUserId,lastUpdDate) {
    ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW START +++++
    buttonDisable();
    ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW END +++++
    parent.iframeChange("${flowExecutionUrl}&_eventId=editValidate","supplierUserId",supplierUserId,"lastUpdDate",lastUpdDate,"HIDDENAREA");}

function openDetailDel(supplierUserId,lastUpdDate) {
    ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW START +++++
    buttonDisable();
    ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW END +++++
    parent.iframeChange("${flowExecutionUrl}&_eventId=deleteValidate","supplierUserId",supplierUserId,"lastUpdDate",lastUpdDate,"HIDDENAREA");
}
//-->
</script>

</head>
<body id="BODY" class="DataArea" onload="onLoad();setTablefix('#TABLE', 1, 0);">
#if($!errorMessage && $!errorMessage!="")
<div class="error">
    $!errorMessage
</div>
#end
<table id="TABLE" class="ListArea" width="100%">
    <thead>
    #if($itemList.size()!=0)
        <tr id="Header">
            <th class="BoxHeaderCenter FontSmall">No.</th>
            <th class="BoxHeaderCenter FontSmall" width="5%;" >#customSpringMessage('ACTION')</th><!-- 処理 -->
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_S_USER.S_USER_ID" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_S_USER.S_USER_ID')">
                <span class="BoxHeaderSortItem">
                    #customSpringMessage('USER_ID')
                </span>
            </th><!-- ユーザーID -->
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_S_USER_LANG.S_USER_NAME" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_S_USER_LANG.S_USER_NAME')">
                <span class="BoxHeaderSortItem">
                    #customSpringMessage('USER_NAME')
                </span>
            </th><!-- ユーザー名 -->
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_S_USER.SUP_USER_MNG_FLG" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_S_USER.SUP_USER_MNG_FLG')">
                <span class="BoxHeaderSortItem">
                    #customSpringMessage('USER_MNG_FLG')
                </span>
            </th><!-- 管理者権限 -->
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_S_USER.VALID_START_DATE" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_S_USER.VALID_START_DATE')">
                <span class="BoxHeaderSortItem">
                    #customSpringMessage('VALID_START_DATE')
                </span>
            </th><!-- 有効期間（開始） -->
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_S_USER.VALID_END_DATE" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_S_USER.VALID_END_DATE')">
                <span class="BoxHeaderSortItem">
                    #customSpringMessage('VALID_END_DATE')
                </span>
            </th><!-- 有効期間（終了） -->
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_S_USER.TERM_FLG" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_S_USER.TERM_FLG')">
                <span class="BoxHeaderSortItem">
                    #customSpringMessage('TERMINATION')
                </span>
            </th><!-- 廃止 -->
        </tr>
    </thead>
    <tbody id="Tbody">
        #foreach($!item in $!itemList)
        #if($velocityCount % 2 != 0)
            <tr id="Row_$velocityCount" bgcolor="#ffffff">
        #else
            <tr id="Row_$velocityCount" bgcolor="#dce4ef">
        #end
            <td class="BoxDetailCenter FontList">#set( $velocityCount = $velocityCount + 1 )$velocityCount</td>
            <td class="BoxDetailLeft">
                <input type="button" class="SmallButton" value="#customSpringMessage('ACTION_EDIT')" onClick="javascript:openDetail('#jsEscapeInHTML($!item.userMasterIdentify.supplierUserId)','#jsEscapeInHTML($!item.userMasterIdentify.lastUpdDate)');"><!-- 編集 -->
                <input type="button" class="SmallButton" value="#customSpringMessage('ACTION_DELETE')" onClick="javascript:openDetailDel('#jsEscapeInHTML($!item.userMasterIdentify.supplierUserId)','#jsEscapeInHTML($!item.userMasterIdentify.lastUpdDate)');"><!-- 削除 -->
            </td>
            <td class="BoxDetailCenter FontMiddle DarkBlue">#out($!item.userMasterIdentify.supplierUserId)</td>
            <td class="BoxDetailLeft FontMiddle DarkBlue">#out($!item.userName)</td>
            <td class="BoxDetailCenter FontMiddle DarkBlue">#out($!item.userMngFlg_PageValue)</td>
            <td class="BoxDetailCenter FontList">#out($!item.validStartDate.dateOfymdFormat)</td>
            <td class="BoxDetailCenter FontList">#out($!item.validEndtDate.dateOfymdFormat)</td>
            <td class="BoxDetailCenter FontMiniAnkBold">
            #if($item.termination == 1)
            	#out($!item.termination_PageValue)
            #end
            </td>
        </tr>
        #end
    </tbody>
#end
</table>

<br>
<table id="WAIT" class="NoBorder" style="display:none;" width="100%">
    <tr>
        <td align="center"><br><br>
        <img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')</span></td>  <!--問い合わせ中...-->
    </tr>
</table>

</body>

</html>

