<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage('SCREEN_M_USER_DELETE')</title><!-- ユーザーマスタ削除 -->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-script-tRype" content="text/javascript">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/ime.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript">
<!--
#parse("./common/common_js.vm")
function onLoad() {
    setFocus();
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        return;
    }
        var isSuccess = '#jsEscape($!isSuccess)';
        if(isSuccess == 'true'){
            #set( $mUser = "#customSpringMessage('M_USER')" )
            alert('#customMessageArgs("I003",[$mUser])');
            top.iframeChange("${flowExecutionUrl}&_eventId=back");
        }
}

function exec() {
    #set( $mUser = "#customSpringMessage('M_USER')" )
    #set( $delete = "#customSpringMessage('ACTION_DELETE')" )
    if( !confirm('#customMessageArgs("W001",[$mUser,$delete])') ) {
        return;
    }
    getObj("Body").submit();
}

//-->
</script>
</head>
<body  class="Body" style="text-align:center;" topmargin="10" leftmargin="10" marginwidth="10" marginheight="10" align="left" onload="onLoad();">
</td></tr></table>
<form id="Body" name="Body" action="${flowExecutionUrl}&_eventId=delete" method="post">
 <table  width="70%">
 <tr><td class="error">
    $!errorMessage
</td>
</tr>
<tr>
    <td class="FontSmallBold DarkBlue">
        #customSpringMessage('SPMST050_DEL_HEADER_COMMENT')
    </td>
</tr>
</table>
            <table class="DTL_BOX" width="70%">
                <tr>
                    <iframe id="CALENDARBOX" class="CALENDARBOX" framespacing="0"scrolling="no" frameborder="0" src="../../sbxCalendar/body.vm"></iframe>
                    <td class="DTL_TITLE_BOX">
                        <table class="NoBorder" width="100%">
                            <tr>
                                <td class="FontBigBold" style="text-align:left;"><span class="FontBigBold DarkBlue">#customSpringMessage('USER_DELETE')</span></td><!-- ユーザー削除 -->
                                <td  align="right">
                                    <input type="button" onclick="exec();" class="MiddleButton" value="#customSpringMessage('ACTION_DELETE')"><!-- 削除 -->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="DTL_INTER_BOX">
                        <table class="NoBorder" width="100%">
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontSmallBold">#customSpringMessage('USER_ID')</span><!-- ユーザーID -->
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%"><tr>
                                            <td class="FontMiniAnkBold"><span class="Brown"> #out($!userMasterManagement.userMasterIdentify.supplierUserId)</span></td>
                                        </tr></table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontSmallBold">#customSpringMessage('USER_NAME')</span><!-- ユーザー名 -->
                                        <img src="../../image/mrkBook.gif" align="center" >
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%"><tr>
                                            <td class="FontMiniAnkBold"><span class="Brown"> #out($!userMasterManagement.userName)</span></td>
                                        </tr></table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontSmallBold">#customSpringMessage('USER_LANGUAGE')</span><!-- ユーザー使用言語 -->
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%"><tr>
                                            <td class="FontMiniAnkBold"><span class="Brown"> #out($!userMasterManagement.useLanguage.languageind.languageInd_PageValue)</span></td>
                                        </tr></table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontSmallBold">#customSpringMessage('PASSWORD')</span><!-- パスワード -->
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%"><tr>
                                            <td class="FontMiniAnkBold">
                                                <span class="Brown">
                                                    ******
                                                </span>
                                            </td>
                                        </tr></table>
                                    </div>
                                </td>
                            </tr>
## TODO 14/11/07 add パスワード暗号化 daiko t.watanabe start
                        #if ($!userMasterManagement.passwordValidEnabled || $!userMasterManagement.passwordLockEnabled)
                            ## パスワード有効期限チェック機能が有効な場合のみ
                            #if ($!userMasterManagement.passwordValidEnabled)
                            <tr>
                                <td class="DTL_OUTHEAD" width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontSmallBold">#customSpringMessage('PASSWORD_LIMIT_TIME')</span><!--パスワード有効期限-->
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%"><tr>
                                            <td class="FontMiniAnkBold"><span class="Brown">#out($!userMasterManagement.passwordValidEndTime.dateOfymdDispYMDHMS)</span></td>
                                        </tr></table>
                                    </div>
                                </td>
                            </tr>
                            #end
                            ## パスワードロックチェック機能が有効な場合のみ
                            #if ($!userMasterManagement.passwordLockEnabled)
                            <tr>
                                <td class="DTL_OUTHEAD" width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontSmallBold">#customSpringMessage('PASSWORD_UNLOCK_TIME')</span><!--パスワードロック解除-->
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%"><tr>
                                            <td class="FontMiniAnkBold"><span class="Brown">
                                            #if ($!userMasterManagement.passwordUnlockEnabled || $!userMasterManagement.passwordLockStartTime.dateOfymd == "")
                                                #out($!userMasterManagement.passwordLockEndTime.dateOfymdDispYMDHMS)#else#customSpringMessage('PASSWORD_UNLOCK_IMPOSSIBLE')#end</span></td>
                                        </tr></table>
                                    </div>
                                </td>
                            </tr>
                            ## パスワードロック解除機能が有効な場合のみ
                            #if ($!userMasterManagement.passwordUnlockEnabled)
                            <tr>
                                <td class="DTL_OUTHEAD" width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontSmallBold">#customSpringMessage('PASSWORD_FAILED_COUNT')</span><!--パスワード連続失敗回数-->
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%"><tr>
                                            <td class="FontMiniAnkBold"><span class="Brown">#out($!userMasterManagement.passwordFailedCount)</span></td>
                                        </tr></table>
                                    </div>
                                </td>
                            </tr>
                            #end
                            #end
                        #end
## TODO 14/11/07 add パスワード暗号化 daiko t.watanabe end
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontSmallBold">#customSpringMessage('MAIL_ADDR')</span><!--  メールアドレス-->
                                    </div>

                                </td>
                                <td class="DTL_OUTHEAD">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%"><tr>
                                            <td class="FontMiniAnkBold"><span class="Brown"> #out($!userMasterManagement.mailAddr.mail)</span></td>
                                        </tr></table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontSmallBold">#customSpringMessage('USER_MNG_FLG')</span><!-- 管理者権限 -->
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD FontMiddle">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%"><tr>
                                            <td class="FontMiniAnkBold"><span class="Brown"> #out($!userMasterManagement.userMngFlg.userMngFlg_PageValue)</span></td>
                                        </tr></table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD">
                                    <div class="DTL_INHEAD">
                                        <span class="FontSmallBold">#customSpringMessage('VALID_PERIOD')</span><!-- 有効期間 -->
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD FontMiddle">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%"><tr>
                                            <td class="FontMiniAnkBold"><span class="Brown">  #out($!userMasterManagement.useFlg.validityPeriod.period.startDate.dateOfymdFormat)</span>
                                        &nbsp;～&nbsp;
                                        <span class="Brown">#out($!userMasterManagement.useFlg.validityPeriod.period.endDate.dateOfymdFormat)</span></td>
                                        </tr></table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontSmallBold">#customSpringMessage('USER_JNL')</span><!-- ユーザー備考 -->
                                        <img src="../../image/mrkBook.gif" align="center">
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%"><tr>
                                            <td class="FontMiniAnkBold"><span class="Brown"> #out($!userMasterManagement.userJnl)</span></td>
                                        </tr></table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <hr>
                        <table class="NoBorder" width="100%">
                            <tr>
                                <td class="DTL_OUTHEAD" width="20%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontSmallBold">#customSpringMessage('UTL_NEW_MAIL')</span><!-- 新着メール -->
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD FontMiddle" width="20%">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%"><tr>
                                            <td class="FontMiniAnkBold"><span class="Brown"> #out($!userMasterManagement.functionUse.utlNewMail_PageValue)</span></td>
                                        </tr></table>
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD" width="20%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontSmallBold">#customSpringMessage('UTL_NEW_INFO')</span><!-- 新着情報 -->
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD FontMiddle" width="20%">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%"><tr>
                                            <td class="FontMiniAnkBold"><span class="Brown"> #out($!userMasterManagement.functionUse.utlNewInfo_PageValue)</span></td>
                                        </tr></table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD" width="20%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontSmallBold">#customSpringMessage('UTL_NEW_DOWNLOAD')</span><!-- 新着ダウンロード -->
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD FontMiddle" width="20%">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%"><tr>
                                            <td class="FontMiniAnkBold"><span class="Brown"> #out($!userMasterManagement.functionUse.utlNewDownload_PageValue)</span></td>
                                        </tr></table>
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD" width="20%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontSmallBold">#customSpringMessage('UTL_NEW_ALL_CHK')</span><!-- 新着全件確認機能 -->
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD FontMiddle" width="20%">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%"><tr>
                                            <td class="FontMiniAnkBold"><span class="Brown"> #out($!userMasterManagement.functionUse.utlNewAllChk_PageValue)</span></td>
                                        </tr></table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD" width="20%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontSmallBold">#customSpringMessage('UTL_ORDER_MNG')</span><!-- 受注管理機能 -->
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD FontMiddle" width="20%">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%"><tr>
                                            <td class="FontMiniAnkBold"><span class="Brown"> #out($!userMasterManagement.functionUse.utlOrderMng_PageValue)</span></td>
                                        </tr></table>
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD" width="20%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontSmallBold">#customSpringMessage('UTL_ORDER_DOWNLOAD')</span><!-- 受注ダウンロード -->
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD FontMiddle" width="20%">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%"><tr>
                                            <td class="FontMiniAnkBold"><span class="Brown"> #out($!userMasterManagement.functionUse.utlOrderDownload_PageValue)</span></td>
                                        </tr></table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD" width="20%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontSmallBold">#customSpringMessage('UTL_DELIV_MNG')</span><!-- 納期管理機能 -->
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD FontMiddle" width="20%">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%"><tr>
                                            <td class="FontMiniAnkBold"><span class="Brown"> #out($!userMasterManagement.functionUse.utlDelivMng_PageValue)</span></td>
                                        </tr></table>
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD" width="20%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontSmallBold">#customSpringMessage('UTL_SHIP_MNG')</span><!-- 出荷管理機能 -->
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD FontMiddle" width="20%">
                                     <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%"><tr>
                                            <td class="FontMiniAnkBold"><span class="Brown"> #out($!userMasterManagement.functionUse.utlShipMng_PageValue)</span></td>
                                        </tr></table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD" width="20%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontSmallBold">#customSpringMessage('UTL_MONEY_DSP')</span><!-- 金額表示 -->
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD FontMiddle" width="20%">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%"><tr>
                                            <td class="FontMiniAnkBold"><span class="Brown"> #out($!userMasterManagement.functionUse.utlMoneyDsp_PageValue)</span></td>
                                        </tr></table>
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD" width="20%">
                                    <div class="DTL_INBODY">
                                        <span class="FontSmallBold"></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD" width="20%">
                                    <div class="DTL_INBODY">
                                        <span class="FontSmallBold"></span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <hr>
                        <div id="languageArea">
                    #foreach($!language in $!userMasterManagement.languageList.languageList)
                    <div id="LAUNGAGE_FIELD_$velocityCount">
                    <table id="lang_1" class="NoBorder" width="100%">
                        <input type="hidden" id="langCount"/>
                            <tr>
                                <td class="DTL_OUTHEAD" width="10%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('LANGUAGE')</span><!-- 言語 -->
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%"><tr>
                                            <td class="FontMiniAnkBold"><span class="Brown"> #out($!userMasterManagement.languageList.languageList[$velocityCount].languageind.languageInd_PageValue)</span></td>
                                        </tr></table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="10%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('USER_NAME')</span><!-- ユーザー名 -->
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD" colspan="2">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%"><tr>
                                            <td class="FontMiniAnkBold"><span class="Brown"> #out($!userMasterManagement.languageList.languageList[$velocityCount].userName)</span></td>
                                        </tr></table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="10%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('USER_JNL')</span><!-- ユーザー備考 -->
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD" colspan="2">
                                     <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%"><tr>
                                            <td class="FontMiniAnkBold"><span class="Brown">#out($!userMasterManagement.languageList.languageList[$velocityCount].userJnl)</span></td>
                                        </tr></table>
                                    </div>
                                </td>
                            </tr>

                        </table>

                    </div>
                     <hr>
                    #end
                </div>


                <table class="NoBorder" style="width:100%;">
                    <tr>
                        <td class="DTL_MSGBOX" nowrap>
                            #customSpringMessage("SPMST050_DEL_FOOTER_COMMENT")
                        </td>
                        <td class="DTL_MSGBOX" style="text-align:right;">
                            <br/>
                            <input type="button" class="MiddleButton" value="#customSpringMessage('ACTION_DELETE')" onclick="javascript:exec();">
                        </td>
                    </tr>
                </table>


                    </td>
                </tr>
            </table>
</form>

</body>

</html>

