## 2013.02.07 DEL DAIKO_WANG START
#**
 * nothingSelectedMessage
 * 
 * 1件も選択されていない場合のエラーメッセージ
 *#
#macro( nothingSelectedMessage)
#set($messageId = "#customSpringMessage('messageId.nothingSelected')")
#customMessageArgs($messageId "")
#end
## 2013.02.07 DEL DAIKO_WANG -END-