<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sp.dataaccess.lgn.password.PassWordMapper">
<!-- TODO 14/11/07 del パスワード暗号化 daiko t.watanabe start --><!-- 
    <select id="search" parameterType="fw.domain.sp.usermaster.UserMasterCondManagement" resultType="int">
         SELECT 
            COUNT(S_USER_ID)
         FROM 
            M_S_USER 
         WHERE
            S_USER_ID = '${@sp.common.util.SecurityUtil@getUserIdByEscapeSql()}'
            AND PASSWORD = #{passwordNow,jdbcType=VARCHAR}
            AND TERM_FLG = '0'
    </select>
 -->
<!-- TODO 14/11/07 del パスワード暗号化 daiko t.watanabe end -->
<!-- TODO 14/11/07 add パスワード暗号化 daiko t.watanabe start -->
    <resultMap type="fw.domain.sp.usermaster.UserMasterCondManagement" id="UserMasterCondManagement_Map">
        <id column="S_USER_ID" property="userMasterIdentify.supplierUserId"/>
        <id column="PW_SALT" property="passwordSalt"/>
        <id column="PW_CHANGED_TIME" property="passwordValidStartTime.dateOfymd"/>
        <id column="MAIL_ADDR" property="mailAddr.mail"/>
        <id column="LAST_UPD_DATE" property="userMasterIdentify.lastUpdDate"/>
    </resultMap>
    <select id="search" resultMap="UserMasterCondManagement_Map">
         SELECT
            S_USER_ID,
            PW_SALT,
            PW_CHANGED_TIME,
            MAIL_ADDR,
            LAST_UPD_DATE
         FROM
            M_S_USER
         WHERE
            S_USER_ID = '${@sp.common.util.SecurityUtil@getUserIdByEscapeSql()}'
            AND TERM_FLG = '0'
    </select> 
<!-- TODO 14/11/07 add パスワード暗号化 daiko t.watanabe end -->
<!-- TODO 14/11/08 del パスワード暗号化 daiko t.watanabe start --><!--
    <update id="update" parameterType="fw.domain.sp.usermaster.UserMasterCondManagement">
        UPDATE M_S_USER
        SET
         <if test="@org.apache.commons.lang.StringUtils@isNotBlank(passwordNew)">
            PASSWORD = #{passwordNew,jdbcType=VARCHAR},
         </if>    
            MAIL_ADDR = #{mailAddr.mail,jdbcType=VARCHAR},
            LAST_UPD_DATE = #{userMasterIdentify.lastUpdDate,jdbcType=VARCHAR},
            LAST_UPD_COMPANY_CD = 'EDI',
            LAST_UPD_USER_ID = '${@sp.common.util.SecurityUtil@getUserIdByEscapeSql()}'
        WHERE 
            S_USER_ID = '${@sp.common.util.SecurityUtil@getUserIdByEscapeSql()}'
            AND TERM_FLG = '0'
    </update>
 -->
<!-- TODO 14/11/08 del パスワード暗号化 daiko t.watanabe end -->
<!-- TODO 14/11/08 add パスワード暗号化 daiko t.watanabe start -->
    <update id="update" parameterType="fw.domain.sp.usermaster.UserMasterCondManagement">
        UPDATE M_S_USER
        SET
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(passwordNew)">
            PASSWORD = #{passwordNew},
            PW_SALT = #{passwordSalt},
            PW_CHANGED_TIME = #{passwordValidStartTime.dateOfymd},
            PW_LOCKED_TIME  = NULL,
            PW_FAILED_COUNT = 0,
        </if>
            MAIL_ADDR = #{mailAddr.mail},
            LAST_UPD_DATE = #{userMasterIdentify.lastUpdDate},
            LAST_UPD_COMPANY_CD = 'EDI',
            LAST_UPD_USER_ID = '${@sp.common.util.SecurityUtil@getUserIdByEscapeSql()}'
        WHERE 
            S_USER_ID = '${@sp.common.util.SecurityUtil@getUserIdByEscapeSql()}'
            AND TERM_FLG = '0'
    </update>
<!-- TODO 14/11/07 add パスワード暗号化 daiko t.watanabe end -->
</mapper>