<!--
/************************************************************************************/
/*     TCP    色を定義するスタイルシート	STYLE SHEET (Color.css)					*/
/************************************************************************************/

.Blue {
	color:blue;
}

.DarkBlue {
	color:darkblue;
}

.Green {
	color:darkgreen;
}

.Brown {
	color:brown;
}

.SkyBlue {
	color:#006699;
}

.Red {
	color:red;
}

.Black {
	color:black;
}

.Gray {
	color:gray;
}
.White {
	color:white;
}

.Yellow {
	background-color:#FFFF99;
}

.LightYellow {
	background-color:#FFFFC0;
}
//--->

