<!doctype html>
<HTML LANG="ja">
<HEAD>
<META http-equiv="Content-type" content="text/html; charset=UTF-8">
<META http-equiv="Pragma" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<META http-equiv="Content-script-type" CONTENT="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<LINK ID="CSS_DEFAULT" REL="stylesheet" HREF="../include/defaultS.css" TYPE="text/css">
<LINK ID="CSS_LAYOUT" REL="stylesheet" HREF="../include/Layout.css" TYPE="text/css">
<SCRIPT LANGUAGE="javascript" TYPE="text/javascript" SRC="../include/common.js"></SCRIPT>
<SCRIPT LANGUAGE="javascript" TYPE="text/javascript" SRC="../include/date.js"></SCRIPT>
<SCRIPT LANGUAGE="javascript" TYPE="text/javascript">
<!--
function changeFontSize() {
	changeFontSize0();
}
-->
</SCRIPT>
</HEAD>
<BODY CLASS="Body" STYLE="background-color:#FFFFFF;"  ALIGN="center">
	<BR>
    ## 2013.03.15 DEL DAIKO_WANG
    ##<SPAN CLASS="Font1">検索条件を入力して、検索ボタンをクリックしてください。</SPAN>
    ## 2013.03.15 ADD DAIKO_WANG
	<SPAN CLASS="FontSmall">#customSpringMessage('INPUT_SEARCH_COMMENT')</SPAN>
</BODY>
</HTML>
