<!--
/****************************************************************************/
/*     TCP    フォントを定義するスタイルシート	STYLE SHEET (FontS.css)     */
/****************************************************************************/

/*
 a.Dashed
 下線が破線になっているリンク
*/
a.Dashed:link		{color:blue;text-decoration:none;border-bottom:1px dashed blue;}
a.Dashed:visited	{color:blue;text-decoration:none;border-bottom:1px dashed blue;}
a.Dashed:active		{color:blue;text-decoration:none;border-bottom:1px dashed blue;}
a.Dashed:hover		{color:blue;text-decoration:none;border-bottom:1px solid blue;}

/*
 a.Dotted
 下線が点線になっているリンク
*/
a.Dotted:	link			{color:	#0000FF;text-decoration:	none;border-bottom:	1px dashed #0000FF;}
a.Dotted:	visited	{color:	#0000FF;text-decoration:	none;border-bottom:	1px dashed #0000FF;}
a.Dotted:	active		{color:	#0000FF;text-decoration:	none;border-bottom:	1px dashed #0000FF;}
a.Dotted:	hover		{color:	#0000FF;text-decoration:	none;border-bottom:	1px solid #0000FF;}

/*
 a.Normal
 標準的なリンク
*/
a.Normal:	link    {color:	#0000FF;}
a.Normal:	visited {color:	#0000FF;}
a.Normal:	active  {color:	#0000FF;}
a.Normal:	hover   {color:	#FF9933;}

/*
	a.Normal
	下線のない青いリンク（カーソルを合わせた場合、下線が表示される）
*/
A.None:	link			{color:	#0000FF;text-decoration:	none;border:	none;}
A.None:	visited	{color:	#0000FF;text-decoration:	none;border:	none;}
A.None:	active		{color:	#0000FF;text-decoration:	none;border:	none;}
A.None:	hover		{color:	#0000FF;text-decoration:	none;border-bottom:	1px solid #0000FF;}

/*
	a.Normal
	下線のない黒いリンク（カーソルを合わせた場合も、何も変化しない）
*/
A.None2:	link			{color:	#000000;text-decoration:	none;border:	none;}
A.None2:	visited	{color:	#000000;text-decoration:	none;border:	none;}
A.None2:	active		{color:	#000000;text-decoration:	none;border:	none;}
A.None2:	hover		{color:	#000000;text-decoration:	none;}

/*
	a.Normal
	下線のない青いリンク（カーソルを合わせた場合、色が変化する）
*/
A.NoBorder:	link			{color:	#0000FF;text-decoration:	none;border:	none;}
A.NoBorder:	visited	{color:	#0000FF;text-decoration:	none;border:	none;}
A.NoBorder:	active		{color:	#0000FF;text-decoration:	none;border:	none;}
A.NoBorder:	hover		{color:	#FF9900;text-decoration:	none;border:	none;}

/*
	a.MenuLink
	ホーム画面のメニューリンク
*/
a.MenuLink:link {
	border-bottom:1px solid darkgreen;
	font-family:'MS UI Gothic','Courier New','Arial';
	color:	darkgreen;
	font-size:  10pt;
	font-weight:	Normal;
	text-decoration:none;
}
a.MenuLink:visited {
	border-bottom:1px solid darkgreen;
	font-family:'MS UI Gothic','Courier New','Arial';
	color:	darkgreen;
	font-size:  10pt;
	font-weight:	Normal;
	text-decoration:none;
}
a.MenuLink:active {
	border-bottom:1px solid darkgreen;
	font-family:'MS UI Gothic','Courier New','Arial';
	color:	darkgreen;
	font-size:  10pt;
	font-weight:	Normal;
	text-decoration:none;
}
a.MenuLink:hover {
	border-bottom:1px solid orange;
	font-family:'MS UI Gothic','Courier New','Arial';
	color:	orange;
	font-size:  10pt;
	font-weight:	Normal;
	text-decoration:none;
}

/*
	Button
	ボタン要素（汎用）
*/
.Button {
	background-color:transparent;
	border-style:none;
	cursor:pointer;
	margin:1px;
	padding:none;
}

/*
	Icon
	虫眼鏡ボタン・矢印ボタンなど、押すことができる画像
*/
.Icon {
	border: none;
	cursor:pointer;
	margin:1px;
	vertical-align:bottom;
	zoom: 1;
}

/*
	Mark
	iマークなど、押すことができない画像
*/
.Mark {
	margin:1px;
	zoom: 1;
	vertical-align:bottom;
}

/*
	FontDetailData
	マスタ編集画面の変更不可項目に使用
*/
.FontDetailData {
	color:	brown;
	font-family:'Verdana','Arial';
	font-size:  8pt;
	font-weight:	bold;
}

/*
	FontDetailHeader
	マスタ編集画面のヘッダーに使用
*/
.FontDetailHeader {
	color:	black;
	font-family:'MS UI Gothic','Courier New','Arial';
	font-size:  9pt;
	font-weight:	bold;
}

/*
	FontList
	一覧画面全般のデータ表示に使用
*/
.FontList {
	color: black;
	font-family:'MS UI Gothic','Courier New','Arial';
	font-size:  10pt;
	font-weight:	normal;
	white-space:	nowrap;
}

/*
	FontList
	一覧画面全般で、数量など小数点位置を固定したい項目に使用
*/
.FontList2 {
	color: black;
	font-family:'ＭＳ ゴシック','Courier New','Arial';
	font-size:  11pt;
	font-weight:	normal;
	white-space:	nowrap;
}

/**汎用フォントスタイルシート**/
/*
	名前の規約について
	Font+①+②+③ (固定文字列「Font」と、①・②・③の文字列を組み合わせることにより、スタイルを表現する)
	①フォントの大きさ(Smallを標準的な大きさとする)…Minimun(7pt)/Mini(8pt)/Small(9pt)/Middle(10pt)/Large(11pt)/Big(12pt)
	②フォントの種類…Ank(Verdana)/Ank以外(MS UI Gothic)
	③フォントの太さ…Boldのとき太字
*/
.FontMinimum {
	font-family:'MS UI Gothic','Courier New','Arial';
	font-size:  7pt;
	font-weight:	normal;
}

.FontMinimumAnk {
	font-family:'Verdana','Arial';
	font-size:  7pt;
	font-weight:	normal;
}

.FontMinimumAnkBold {
	font-family:'Verdana','Arial';
	font-size:  7pt;
	font-weight:	bold;
}

.FontMini {
	font-family:'MS UI Gothic','Courier New','Arial';
	font-size:  8pt;
	font-weight:	normal;
}

.FontMiniAnk {
	font-family:'Verdana','Arial';
	font-size:  8pt;
	font-weight:	normal;
}

.FontMiniBold {
	font-family:'MS UI Gothic','Courier New','Arial';
	font-size:  8pt;
	font-weight:	bold;
}

.FontMiniAnkBold {
	font-family:'Verdana','Arial';
	font-size:  8pt;
	font-weight:	bold;
}

.FontSmall {
	font-family:'MS UI Gothic','Courier New','Arial';
	font-size:  9pt;
	font-weight:	normal;
}

.FontSmallAnk {
	font-family:'Verdana','Arial';
	font-size:	9pt;
	font-weight:	normal;
}

.FontSmallBold {
	font-family:'MS UI Gothic','Courier New','Arial';
	font-size:  9pt;
	font-weight:	bold;
}

.FontSmallAnkBold {
	font-family:'Verdana','Arial';
	font-size:  9pt;
	font-weight:	bold;
}

.FontMiddle {
	font-family:'MS UI Gothic','Courier New','Arial';
	font-size:  10pt;
	font-weight:	normal;
}

.FontMiddleAnk {
	font-family:'Verdana','Arial';
	font-size:  10pt;
	font-weight:	normal;
}

.FontMiddleBold {
	font-family:'MS UI Gothic','Courier New','Arial';
	font-size:  10pt;
	font-weight:	bold;
}

.FontMiddleAnkBold {
	font-family:'Verdana','Arial';
	font-size:  10pt;
	font-weight:	bold;
}

.FontLarge {
	font-family:'MS UI Gothic','Courier New','Arial';
	font-size:  11pt;
	font-weight:	normal;
}

.FontLargeAnk {
	font-family:'Verdana','Arial';
	font-size:  11pt;
	font-weight:	normal;
}

.FontLargeBold {
	font-family:'MS UI Gothic','Courier New','Arial';
	font-size:  11pt;
	font-weight:	bold;
}

.FontLargeAnkBold {
	font-family:'Verdana','Arial';
	font-size:  11pt;
	font-weight:	bold;
}

.FontBig {
	font-family:'MS UI Gothic','Courier New','Arial';
	font-size:  12pt;
	font-weight:	normal;
}

.FontBigAnk {
	font-family:'Verdana','Arial';
	font-size:  12pt;
	font-weight:	normal;
}

.FontBigBold {
	font-family:'MS UI Gothic','Courier New','Arial';
	font-size:  12pt;
	font-weight:	bold;
}

.FontBigAnkBold {
	font-family:'Verdana','Arial';
	font-size:  12pt;
	font-weight:	bold;
}

/*
	FontWarn
	注釈・警告文字などに使用
*/
.FontWarn {
	font-family:'MS UI Gothic','Courier New','Arial';
	color: red;
	font-size:  8pt;
	font-weight:	normal;
}

/*
	FontComment
	注釈用コメント
*/
.FontComment {
	font-family:'MS UI Gothic','Courier New','Arial';
	color: Green;
	font-size:  8pt;
	font-weight:	normal;
}


/*
	ScreenName
	検索条件部のタイトルに使用
*/
.ScreenName {
	color:	#000099;
	font-family:	'MS UI Gothic';
	font-size:	12pt;
	font-weight:	bold;
}

/*
	LargeButton
	検索ボタンなど、大きいボタンに使用
*/
.LargeButton {
	font-family:'HG丸ｺﾞｼｯｸM-PRO','メイリオ','Verdana','Arial';
	font-size:  11pt;
	font-weight:	bold;
	padding-top:2px;
	padding-right:12px;
	padding-bottom:2px;
	padding-left:12px;
}

/*
	MiddleButton
	検索ボタンなど、中くらいのボタンに使用
*/
.MiddleButton {
	font-family:'HG丸ｺﾞｼｯｸM-PRO','メイリオ','Verdana','Arial';
	font-size:  10pt;
	font-weight:	normal;
	padding-top:2px;
	padding-right:10px;
	padding-bottom:2px;
	padding-left:10px;
}

/*
	SmallButton
	新規登録ボタン・ダウンロードボタンや、マスタ一覧中のボタンなど、少し小さめのボタンに使用
*/
.SmallButton {
	color: black;
	font-family:'HG丸ｺﾞｼｯｸM-PRO','メイリオ','Verdana','Arial';
	font-size:  9pt;
	font-weight:	normal;
	padding-top:2px;
	padding-right:6px;
	padding-bottom:2px;
	padding-left:6px;
}

/*
	MiniButton
	トランザクション系一覧画面中のボタンなど、小さめのボタンに使用
*/
.MiniButton {
	font-family:'HG丸ｺﾞｼｯｸM-PRO','メイリオ','Verdana','Arial';
	font-size:  8pt;
	font-weight:	normal;
	padding-top:1px;
	padding-right:4px;
	padding-bottom:1px;
	padding-left:4px;
}

/*
	MinimumButton
	ファイルアップロードボックスに併設するクリアボタンなど、非常に小さいボタンに使用
*/
.MinimumButton {
	font-family:'HG丸ｺﾞｼｯｸM-PRO','メイリオ','Verdana','Arial';
	font-size:  7pt;
	font-weight:	normal;
	padding-top:2px;
	padding-right:4px;
	padding-bottom:2px;
	padding-left:4px;
}

/*
	FontStatus
	伝票のステータスを表す文字列に使用
*/
.FontStatus {
	font-family:'Verdana','Arial';
	font-size:  8pt;
	font-weight:	bold;
}

/*
	input.Small
	標準的な文字の大きさのテキストボックス
*/
input.Small {
 	background-color: white;
	border:	1px solid #849EBD;
	border-collapse: collapse;
	border-spacing:	0px;
	font-family:	'MS UI Gothic','Courier New','Arial';
	font-size: 9pt;
	font-weight:	normal;
	margin:0px;
	vertical-align:	middle;
}

/*
	input.SmallAnk
	標準的な文字の大きさのテキストボックス（日付項目等に使用）
*/
input.SmallAnk {
 	background-color: white;
	border:	1px solid #849EBD;
	border-collapse: collapse;
	border-spacing:	0px;
	font-family:	'Verdana','Courier New','Arial';
	font-size: 9pt;
/*	ime-mode: disabled;*/
	margin:0px;
	vertical-align:	middle;
}

/*
	input.SmallDsp
	標準的な文字の大きさのテキストボックス（変更不可項目に使用）
*/
input.SmallDsp {
 	background-color: #ECECEC;
	border:	1px solid #849EBD;
	border-collapse: collapse;
	border-spacing:	0px;
 	color: #0000CC;
 	font-family:	'MS UI Gothic','Courier New','Arial';
 	font-size: 9pt;
	margin:0px;
	vertical-align:	middle;
}

/*
	input.SmallRight
	標準的な文字の大きさの右寄せテキストボックス（数量・金額等に使用）
*/
input.SmallRight {
	background-color: white;
	border:	1px solid #849EBD;
	border-collapse: collapse;
	border-spacing:	0px;
	color:black;
	font-family:	'Verdana','Courier New','Arial';
	font-size: 9pt;
/*	ime-mode: disabled;*/
	margin:0px;
	text-align: right;
}

/*
	input.SmallRightDsp
	標準的な文字の大きさの右寄せテキストボックス（変更不可の数量・金額等に使用）
*/
input.SmallRightDsp {
	background-color: #EAEAEA;
	border:	1px solid #849EBD;
	border-collapse: collapse;
	border-spacing:	0px;
	color: #000099;
	font-family:	'MS UI Gothic','Courier New','Arial';
	font-size: 9pt;
	ime-mode: disabled;
	margin:0px;
	text-align: right;
}

/*
	input.Middle
	大きめな文字の大きさのテキストボックス
*/
input.Middle {
 	background-color: white;
	border:	1px solid #849EBD;
	border-collapse: collapse;
	border-spacing:	0px;
	font-family:	'MS UI Gothic','Courier New','Arial';
	font-size: 10pt;
	font-weight:	normal;
	margin:0px;
	vertical-align:	middle;
}

/*
	input.MiddleAnk
	大きめな文字の大きさのテキストボックス（日付項目等に使用）
*/
input.MiddleAnk {
 	background-color: white;
	border:	1px solid #849EBD;
	border-collapse: collapse;
	border-spacing:	0px;
	font-family:	'Verdana','Courier New','Arial';
	font-size: 10pt;
/*	ime-mode: disabled;*/
	margin:0px;
	vertical-align:	middle;
}

/*
	input.MiddleDsp
	大きめ文字の大きさのテキストボックス（変更不可項目に使用）
*/
input.MiddleDsp {
 	background-color: #ECECEC;
	border:	1px solid #849EBD;
	border-collapse: collapse;
	border-spacing:	0px;
 	color: #0000CC;
 	font-family:	'MS UI Gothic','Courier New','Arial';
 	font-size: 10pt;
	margin:0px;
	vertical-align:	middle;
}

/*
	input.MiddleRight
	大きめ文字の大きさの右寄せテキストボックス（数量・金額等に使用）
*/
input.MiddleRight {
	background-color: white;
	border:	1px solid #849EBD;
	border-collapse: collapse;
	border-spacing:	0px;
	color:black;
	font-family:	'Verdana','Courier New','Arial';
	font-size: 10pt;
/*	ime-mode: disabled;*/
	margin:0px;
	text-align: right;
}

/*
	input.MiddleRightDsp
	大きめ文字の大きさの右寄せテキストボックス（変更不可の数量・金額等に使用）
*/
input.MiddleRightDsp {
	background-color: #EAEAEA;
	border:	1px solid #849EBD;
	border-collapse: collapse;
	border-spacing:	0px;
	color: #000099;
	font-family:	'MS UI Gothic','Courier New','Arial';
	font-size: 10pt;
	ime-mode: disabled;
	margin:0px;
	text-align: right;
}

/*
	select.Small
	標準的な大きさの文字のセレクトボックス（プルダウン）
*/
select.Small {
   font-family:'Verdana','MS UI Gothic';
   color: #000000;
   font-size: 9pt;

	 border:	1px solid #849EBD;

   background-color: white;
}

/*
	select.SmallDsp
	標準的な大きさの文字のセレクトボックス（変更不可項目に使用）
*/
select.SmallDsp {
	background-color: #EAEAEA;
	border:	1px solid #849EBD;
	color:black;
	font-family:'Verdana','MS UI Gothic';
	font-size: 9pt;
}

/*
	select.Middle
	大きめの文字のセレクトボックス（プルダウン）
*/
select.Middle {
	border:	1px solid #849EBD;
	background-color: white;
	font-family:'Verdana','MS UI Gothic';
	font-size: 10pt;
}

/*
	textarea.Small
	標準的な大きさの文字のテキストエリア
*/
textarea.Small {
	border:	1px solid #849EBD;
	font-family:'MS UI Gothic';
	font-size: 9pt;
}

/*
	textarea.SmallDsp
	標準的な大きさの文字のテキストエリア（変更不可項目に使用）
*/
textarea.SmallDsp {
    background-color: white;
	border:	1px solid #849EBD;
	color:black;
    font-family:'Verdana','MS UI Gothic';
    font-size: 9pt;
}

/*
	textarea.Middle
	大きめの文字のテキストエリア
*/
textarea.Middle {
	border:	1px solid #849EBD;
	font-family:'MS UI Gothic';
	font-size: 10pt;
}

/*
	button.ClassButton
	品種の分類アイコンに使用
*/
button.ClassButton {
	background-color:	transparent;
	background-repeat:	no-repeat;
	background-position:	center middle;
	border-style:none;
	color: black;
	font-family:'HG丸ｺﾞｼｯｸM-PRO','メイリオ','Verdana','Arial';
	font-weight:	normal;
	font-size:  8pt;
	height:	16px;
	margin-right:4px;
	padding-right:1px;
	padding-left:0px;
	text-align:center;
	vertical-align:middle;
	width:	16px;
	zoom:1;
}

div.ItemKind {
	background-color:	transparent;
	background-repeat:	no-repeat;
	background-position:	center middle;
	background-image:url('../image/btn7.gif');
	border-style:none;
	color: black;
	font-family:'HG丸ｺﾞｼｯｸM-PRO','メイリオ','Verdana','Arial';
	font-weight:	normal;
	font-size:  8pt;
	height:	16px;
	margin-right:4px;
	padding-top:2px;
	padding-right:1px;
	padding-left:0px;
	text-align:center;
	vertical-align:middle;
	width:	16px;
	zoom:1;
}
/*
	FontStepTitle
	購入依頼・見積依頼画面のタイトルに使用
*/
.FontStepTitle {
	font-family:'MS UI Gothic','Courier New','Arial';
	color:	darkgreen;
	font-size:  12pt;
	font-weight:	bold;
}

/*
	FontCurrMini
	金額表示用（小）
*/
.FontCurrMini {
	font-family:'Arial';
	font-size:  10pt;
	font-weight:	bold;
}

/*
	FontCurrSmall
	金額表示用（中）
*/
.FontCurrSmall {
	font-family:'Arial';
	font-size:  12pt;
	font-weight:	bold;
}

/*
	FontCurrMiddle
	金額表示用（大）
*/
.FontCurrMiddle {
	font-family:'Arial';
	font-size:  14pt;
	font-weight:	bold;
}
/*
.FontCurrCd {
	color:black;
	font-family:'Arial';
	font-size:  8pt;
	font-weight:	bold;
}
*/

/*
	FontSlipNo
	申請番号・伝票番号に使用
*/
.FontSlipNo {
	color: brown;
	font-family:'Verdana','Arial';
	font-size:  10pt;
	font-weight:	bold;
}

/*
	FontSlipNo
	入力画面や個別承認画面の承認順で、依頼者名・承認者名に使用
*/
.FontUserName {
	font-family:	'ＭＳ Ｐ明朝';
	color:	black;
	font-size:	10pt;
	font-weight:	bold;
}

/*
	FontNumber
	連番に使用
*/
.FontNumber {
	font-family:'Verdana','Arial';
	color:	#006600;
	padding-left:4px;
	font-size:  10pt;
	font-weight:	bold;
}

/*
	FontBoxHeader
	入力画面の項目名称に使用
*/
.FontBoxHeader {
	color:	black;
	font-family:	'MS UI Gothic','Courier New','Arial';
	font-size:	9pt;
	font-weight:	bold;
}

/*
.FontListHeader {
	font-family:'MS UI Gothic','Courier New','Arial';
	font-size:  8pt;
	font-weight:	normal;
}
*/

/*
	FontMonth
	カレンダーマスタの月表示に使用
*/
.FontMonth {
	font-family:'Arial';
	font-size:  14pt;
	font-weight:	bold;
}

/*
	DTL_authname_area
	ロールマスタ画面で使用
*/
.DTL_authname_area {
	background-color:#EAEAEA;
	border-right:1px dotted #CCCCCC;
	border-bottom:1px dotted #CCCCCC;
	padding:2px;
	text-align:center;
	vertical-align:top;
}

/*
	DTL_authno
	ロールマスタ画面で使用
*/
.DTL_authno {
	background-color:darkblue;
	color:white;
	padding:4px;
	text-align:center;
	vertical-align:middle;
}

/*
	DTL_authname
	ロールマスタ画面で使用
*/
.DTL_authname {
	padding:4px;
	text-align:center;
	vertical-align:top;
}

/*
	Calendar1
	カレンダーボックスで使用
*/
/* 2013.01.17 DEL DAIKO_MUTO
.Calendar1 {
	font-family:'Verdana','Arial';
	color: #000000;
	font-size:  7pt;
	font-weight:	bold;

	border:	1px solid #666666;

	background-color:skyblue;
	padding-left:4px;
	padding-right:4px;
}
*/
/* 2013.01.17 ADD DAIKO_MUTO */
.Calendar1 {
    font-family:'ＭＳ　ゴシック','MS Gothic';
    color: #000000;
    font-size:  9pt;
    font-weight:    bold;

    border: 1px solid #666666;

    background-color:skyblue;
}

/*
	Calendar2
	カレンダーボックスで使用
*/
.Calendar2 {
	font-family:'Verdana','Arial';
	color: #000000;
    /* 2013.01.17 DEL DAIKO_MUTO font-size:  9pt; */
    font-size:  14pt;
	font-weight:	normal;

	border:	1px solid #666666;

	background-color:#FFFFFF;
}

/*
	FontCategoly
	カタログ購入依頼画面のカテゴリ名に使用
*/
.FontCategoly {
	font-family:'MS UI Gothic','Courier New','Arial';
	color:	brown;
	font-size:  9pt;
	font-weight:	bold;
	text-decoration: underline;
	padding:	2px;
}

/*
	FontCategolyItem
	カタログ購入依頼画面のカテゴリ内の項目に使用
*/
.FontCategolyItem {
	font-family:'MS UI Gothic','Courier New','Arial';
	color: #000000;
	font-size:  9pt;
	font-weight:	normal;
	line-height:13pt;
}

/*
	FontCategolyItem
	カタログ購入依頼画面の商品一覧で、品種名称に使用
*/
.FontCategolyName {
	color:#006699;
	font-family:'MS UI Gothic','Courier New','Arial';
	font-size:  8pt;
	font-weight:	normal;
	text-align:	left;
}

/*
	DataArea
	検索画面初期表示のiframeに使用
*/
iframe.DataArea {
    background-color:white;
    position:static;
    width:100%;
    height:100%;
    border:0px solid #999999;
    z-index:0;
}

/*
	FontNotice
	下線付きの文字に使用
*/
.FontNotice {
	font-family:'MS UI Gothic','Courier New','Arial';
	color: brown;
	font-size:  9pt;
	font-weight:	bold;
	text-decoration:	underline;
}
/*
 ポップアップのカレンダー用
 中央寄せ
*/

.FontMiddleAnkBold_M {
	font-family:'Verdana','Arial';
	font-size:  10pt;
	font-weight:	bold;

	color:#999999;
}

/*
	注文ＥＤＩの詳細画面タイトルに使用
*/
.FontEDItitle {
	font-family:'MS UI Gothic','Courier New','Arial';
	color:	darkgreen;
	font-size:  15pt;
	font-weight:	bold;
	text-align:	left;
	
}

/*
	受注者名表示用フォント
*/
.FontVender {
	font-family:'MS UI Gothic','Courier New','Arial';
	font-size:  11pt;
	font-weight:	bold;
	text-decoration:	underline;
	text-align: right;
	margin: 5px;
}
//--->
