<!--
/************************************************************************************/
/*     TCP    枠線・レイアウトを定義するスタイルシート	STYLE SHEET (Layout.css)	*/
/************************************************************************************/

/*
    【HTML5対応】
    html、body、formタグの高さを100%とする
*/
html, body, form {
	height:		100%;
}

/*
	Corner1-4
	検索画面のタイトルエリアなど、角が丸いエリアに使用（共通）
*/
.Corner1{margin:	0 5px;font-size:	1px;}
.Corner2{margin:	0 3px;font-size:	1px;}
.Corner3{margin:	0 2px;font-size:	1px;}
.Corner4{margin:	0 1px; height:	2px;font-size:	1px;}

/*
	CornerTopGray,CornerMidGray,CornerBtmGray
	検索画面のタイトルエリアなど、角が丸いエリアに使用（淡い灰色）
*/
.CornerTopGray, .CornerBtmGray {
	display:	block;
	font-size:	1px;
}
.CornerMidGray {
	background-color:	#cccccc;
	margin:	0px;
	width:	100%;
}
.CornerTopGray *, .CornerBtmGray * {
	background-color:	#cccccc;
	display:	block;
	height:	1px;
	overflow:	hidden;
}

/*
	CornerTopBrown,CornerMidBrown,CornerBtmBrown
	検索画面のタイトルエリアなど、角が丸いエリアに使用（淡い茶色）
*/
.CornerTopBrown, .CornerBtmBrown {
	font-size:	1px;
	display:	block;
}
.CornerMidBrown {
	background-color:	#E9E4BD;
	width:	100%;
}
.CornerTopBrown *, .CornerBtmBrown *{
	display:	block;
	height:	1px;
	overflow:	hidden;
	background-color:	#E9E4BD;
}

/*
	CornerTopWhite,CornerMidWhite,CornerBtmWhite
	検索画面のタイトルエリアなど、角が丸いエリアに使用（白）
*/
.CornerTopWhite, .CornerBtmWhite {
	display:	block;
	font-size:	1px;
}
.CornerMidWhite {
	background-color:	white;
	margin:	0px;
	width:	100%;
}
.CornerTopWhite *, .CornerBtmWhite * {
	background-color:	white;
	display:	block;
	height:	1px;
	overflow:	hidden;
}

/*
	CornerTopYellow,CornerMidYellow,CornerBtmYellow
	検索画面のタイトルエリアなど、角が丸いエリアに使用（薄い黄色）
*/
.CornerTopYellow, .CornerBtmYellow {
	font-size:	1px;
	display:	block;
}
.CornerMidYellow {
	background-color:	#FFFFCC;
	width:	100%;
}
.CornerTopYellow *, .CornerBtmYellow *{
	display:	block;
	height:	1px;
	overflow:	hidden;
	background-color:	#FFFFCC;
}

/*
	CornerTopBlue,CornerMidBlue,CornerBtmBlue
	検索画面のタイトルエリアなど、角が丸いエリアに使用（薄い青色）
*/
.CornerTopBlue, .CornerBtmBlue {
	font-size:	1px;
	display:	block;
}
.CornerMidBlue {
	background-color:	#E0ECFF;
	width:	100%;
}
.CornerTopBlue *, .CornerBtmBlue *{
	display:	block;
	height:	1px;
	overflow:	hidden;
	background-color:	#E0ECFF;
}

/*
	body.Body
	ボディエリアを白くする場合に使用
*/
body.Body {
	background-color:	#ffffff;
	margin:	0px;
	padding:	0px;
	text-align:	center;
	vertical-align:	top;
	width:	100%;
}

/*
	BodyArea
	一覧画面のBODYAREAのボディに使用
*/
.BodyArea {
    margin:     0px;
    width:      100%;
    height:     100%;
    overflow-y: hidden;
}

/*
	DataArea
	一覧画面DATAAREAのボディに使用
*/
body.DataArea {
    margin:    0px;
    width:     100%;
    height:    100%;
    vertical-align:top;
}
/*
	BoxDetailCenter
	一覧画面のデータ部に使用（中央揃え）
*/
.BoxDetailCenter {
	border-collapse:	collapse;
	border-top:	1px solid #669999;
	border-right:	1px dotted #669999;
	border-spacing:	0px;
	padding-top:	2px;
	padding-right:	6px;
	padding-bottom:	2px;
	padding-left:	6px;
	text-align:	center;
	vertical-align:	middle;
	white-space:	nowrap;
}

/*
	BoxDetailLeft
	一覧画面のデータ部に使用（左揃え）
*/
.BoxDetailLeft {
	border-collapse:	collapse;
	border-top:	1px solid #669999;
	border-right:	1px dotted #669999;
	border-spacing:	0px;
	padding-top:	2px;
	padding-right:	6px;
	padding-bottom:	2px;
	padding-left:	6px;
	text-align:	left;
	vertical-align:	middle;
	white-space:	nowrap;
}

/*
	BoxDetailRight
	一覧画面のデータ部に使用（右揃え）
*/
.BoxDetailRight {
	border-collapse:	collapse;
	border-top:	1px solid #669999;
	border-right:	1px dotted #669999;
	border-spacing:	0px;
	padding-top:	2px;
	padding-right:	4px;
	padding-bottom:	2px;
	padding-left:	20px;
	text-align:	right;
	vertical-align:	middle;
	white-space:	nowrap;
}

/*
	BoxHeaderCenter
	一覧画面のヘッダ部に使用（中央揃え）
*/
.BoxHeaderCenter {
	background-color:	#EAEAEA;
	border-collapse:	collapse;
	border-style:	groove;
	border-width:	1px;
	padding-top:	4px;
	padding-right:	4px;
	padding-bottom:	4px;
	padding-left:	4px;
	text-align:	center;
	vertical-align:	middle;
	white-space:	nowrap;
}

/*
	BoxHeaderLeft
	一覧画面のヘッダ部に使用（左揃え）
*/
.BoxHeaderLeft {
	background-color:	#EAEAEA;
	border-collapse:	collapse;
	border-style:	groove;
	border-width:	2px;
	padding-top:	4px;
	padding-right:	4px;
	padding-bottom:	4px;
	padding-left:	4px;
	text-align:	left;
	vertical-align:	middle;
	white-space:	nowrap;
}

/*
    BoxHeaderSortItem
    ソート項目の一覧画面ヘッダ部に使用
*/
.BoxHeaderSortItem {
	color:         #0000FF;
	border-bottom: 1px dashed #0000FF;
	cursor:        pointer;
}

/*
	DTL_BOX
	マスタ編集画面のシートに使用
*/
.DTL_BOX {
	background-color:	#FFFFFF;
	border:	1px solid black;
	border-collapse:	collapse;
	border-spacing:	0px;
	margin-left:	auto;
	margin-right:	auto;
	padding:	0px;
	filter:	progid:	DXImageTransform.Microsoft.DropShadow(color=#333333,offX=4,offY=4,positive=1);
}

/*
	DTL_TITLE_BOX
	マスタ編集画面のシートのヘッダ部に使用
*/
.DTL_TITLE_BOX {
	vertical-align:	bottom;
	padding:	6px;
	background-color:	#CCCCCC;
	border-bottom:	1px solid #CCCCCC;
}

/*
	DTL_INTER_BOX
	マスタ編集画面のシートのデータ部に使用
*/
.DTL_INTER_BOX {
	padding:	2px;
	text-align:	left;
	vertical-align:	top;
}

/*
	DTL_OUTHEAD
	マスタ編集画面の項目名エリアに使用（外側）
*/
.DTL_OUTHEAD {
	border-bottom:	1px dotted #CCCCCC;
	padding-top:	1px;
	padding-bottom:	1px;
	white-space:	nowrap;
}

/*
	DTL_INHEAD
	マスタ編集画面の項目名エリアに使用（内側）
*/
.DTL_INHEAD {
	background-color:	#EAEAEA;
	padding:	4px;
}
/*
	ユーザーマスタ用
*/

.DTL_GRAY{
	background-color:#EAEAEA;
	padding-top:4px;
	padding-right:16px;
	padding-bottom:4px;
	padding-left:4px;
}

/*
	DTL_OUTBODY
	マスタ編集画面のデータエリアに使用（外側）
*/
.DTL_OUTBODY {
	border-bottom:	1px dotted #CCCCCC;
	background-color:	#FFFFFF;
	padding-top:	1px;
	padding-bottom:	1px;
}

/*
	DTL_INBODY
	マスタ編集画面のデータエリアに使用（内側）
*/
.DTL_INBODY {
	padding-left:	4px;
}
.DTL_INBODY_40 {
	padding-left:	4px;
	width:40px;
}

.DTL_INBODY_90 {
	padding-left:	4px;
	width:90px;
}

/*
	DTL_MSGBOX
	マスタ編集画面のシートのフッタ部に使用
*/
.DTL_MSGBOX {
	padding:	10px;
	vertical-align:	top;
}

/*
	ListArea
	一覧画面のルートテーブルに使用
*/
.ListArea {
	border:	1px solid #666666;
	border-collapse:	collapse;
	border-spacing:	0px;

	padding:	0px;
	width:	100%;
}

/*
	NoBorder
	TABLEタグやTDタグで、罫線を表示しない場合に使用
*/
.NoBorder {
	border-collapse:	collapse;
	border-spacing:	0px;
 	border-style:	none;
 	border-width:	0px;
	padding:	0px;
}

/*
	SearchArea
	検索画面の検索エリアに使用
	※TD.SearchAreaを使用してください
*/
.SearchArea {
    border-bottom:  1px solid #999999;
    height:         0px;
    padding-top:    4px;
    padding-right:  4px;
    padding-bottom: 4px;
    padding-left:   4px;
    text-align:     center;
    vertical-align: top;
}

td.LeftSide1 {
	padding:	2px;
	text-align:	left;
	vertical-align:	top;
	width:	70%;
}

td.RightSide1 {
	padding:	2px;
	text-align:	left;
	vertical-align:	top;
	width:	30%;
}

/*
	body.CreateArea
	購入依頼画面や見積依頼画面のBodyタグに使用
*/
body.CreateArea {
	background-color:  #cccccc;
	padding-top:   10px;
	padding-right: 10px;
	padding-bottom:    10px;
	padding-left:  10px;
	text-align:    center;
	vertical-align:    top;
	height:    auto;
}

/*
	Box1H
	購入依頼画面の項目名エリアに使用
*/
.Box1H {
	background-color:	#e2ffff;
	border-top:	1px solid #669999;
	border-left:	1px solid #669999;
	border-bottom:	1px solid #669999;
	border-right:	1px solid #669999;
	padding-top:	4px;
	padding-right:	10px;
	padding-bottom:	4px;
	padding-left:	10px;
	text-align:	center;
	vertical-align:	middle;
	white-space:	nowrap;
}

/*
	Box1Hd
	購入依頼画面の項目名エリアで、罫線を点線にする場合に使用
*/
.Box1Hd {
	background-color:	#e2ffff;
	border-top:	none;
	border-left:	1px solid #669999;
	border-bottom:	1px dotted #669999;
	border-right:	1px solid #669999;
	padding-top:	4px;
	padding-right:	10px;
	padding-bottom:	4px;
	padding-left:	10px;
	text-align:	center;
	vertical-align:	middle;
	white-space:	nowrap;
}

.Box1Hl {
	background-color:	#e2ffff;
	border-right:	1px solid #669999;
	text-align:	center;
	vertical-align:	middle;
	white-space:	nowrap;
}

.Box1Hr {
	background-color:	#e2ffff;
	border-right:	1px solid #669999;
	border-left:	1px solid #669999;
	text-align:	center;
	vertical-align:	middle;
	white-space:	nowrap;
}

/*
	Box1Hdt
	詳細画面の明細項目名エリアで、下部の罫線を実線にする場合に使用
*/

.Box1Hdt {
	background-color:	#e2ffff;
	border-top:		none;
	border-left:	1px solid #669999;
	border-bottom:	1px solid #669999;
	border-right:	1px solid #669999;
	padding-top:	4px;
	padding-right:	10px;
	padding-bottom:	4px;
	padding-left:	10px;
	text-align:	center;
	vertical-align:	middle;
	white-space:	nowrap;
}

/*
	Box1Hdb
	詳細画面の明細項目名エリアで、上部の罫線を実線にする場合に使用
*/
.Box1Hdb {
	background-color:	#e2ffff;
	border-top:		1px solid #669999;
	border-left:	1px solid #669999;
	border-bottom:	1px dotted #669999;
	border-right:	1px solid #669999;
	padding-top:	4px;
	padding-right:	10px;
	padding-bottom:	4px;
	padding-left:	10px;
	text-align:	center;
	vertical-align:	middle;
	white-space:	nowrap;
}

/*
	Box1D
	購入依頼画面のデータエリアに使用
*/
.Box1D {
	background-color:	#f8ffff;
	border-top:	1px solid #669999;
	border-left:	1px solid #669999;
	border-bottom:	1px solid #669999;
	border-right:	1px solid #669999;
	padding-top:	2px;
	padding-right:	10px;
	padding-bottom:	2px;
	padding-left:	10px;
	text-align:	left;
	vertical-align:	middle;
}

/*
	Box1Dd
	購入依頼画面のデータエリアで、罫線を点線にする場合に使用
*/
.Box1Dd {
	background-color:	#f8ffff;
	border-top:		none;
	border-right:	1px solid #669999;
	border-bottom:1px dotted #669999;
	border-left:	1px solid #669999;
	padding-top:	2px;
	padding-right:	10px;
	padding-bottom:	2px;
	padding-left:	10px;
	text-align:	left;
	vertical-align:	middle;
}

/*
	Box1Dr
	購入依頼画面のデータエリアで、金額等に使用
*/
.Box1Dr {
	background-color:	#f8ffff;
	border-top:	1px solid #669999;
	border-left:	1px solid #669999;
	border-bottom:	1px solid #669999;
	border-right:	1px solid #669999;
	padding-top:	2px;
	padding-right:	2px;
	padding-bottom:	2px;
	padding-left:	10px;
	text-align:	right;
	vertical-align:	middle;
}

/*
	Box1Dtr
	購入依頼画面のデータエリアで、金額等に使用(線なし)
*/

.Box1Dtr {
	background-color:	#f8ffff;
	padding-top:	2px;
	padding-right:	10px;
	padding-bottom:	2px;
	padding-left:	10px;
	text-align:	right;
	vertical-align:	middle;
}

/*
	Box1Ddt
	詳細画面の明細データエリアで、下部の罫線を実線にする場合に使用
*/
.Box1Ddt {
	background-color:	#f8ffff;
	border-top:		1px none;
	border-right:	1px solid #669999;
	border-bottom:	1px solid #669999;
	border-left:	1px solid #669999;
	padding-top:	2px;
	padding-right:	10px;
	padding-bottom:	2px;
	padding-left:	10px;
	text-align:	left;
	vertical-align:	middle;
}

/*
	Box1Ddb
	詳細画面の明細データエリアで、下部の罫線を実線にする場合に使用
*/
.Box1Ddb {
	background-color:	#f8ffff;
	border-top:		1px solid #669999;
	border-right:	1px solid #669999;
	border-bottom:	1px dotted #669999;
	border-left:	1px solid #669999;
	padding-top:	2px;
	padding-right:	10px;
	padding-bottom:	2px;
	padding-left:	10px;
	text-align:	left;
	vertical-align:	middle;
}

/*
	Box1Dtl
	購入依頼画面のデータエリアで、金額等に使用(線なし)
*/
.Box1Dtl {
	background-color:	#f8ffff;
	padding-top:	2px;
	padding-right:	10px;
	padding-bottom:	2px;
	padding-left:	10px;
	text-align:	left;
	vertical-align:	middle;
}

/*
	Box1G
	購入依頼画面で、外枠を太線にする場合に使用
*/
.Box1G {
	border-collapse:	collapse;
	border-top:	2px solid #669999;
	border-left:	2px solid #669999;
	border-bottom:	2px solid #669999;
	border-right:	2px solid #669999;
}

/*
	Box2H
	見積依頼画面の項目名エリアに使用
*/
.Box2H {
	background-color:	#CCFFCC;
	border-top:		1px solid #339933;
	border-right:	1px solid #339933;
	border-bottom:1px solid #339933;
	border-left:	1px solid #339933;
	padding-top:	4px;
	padding-right:	10px;
	padding-bottom:	4px;
	padding-left:	10px;
	text-align:	center;
	vertical-align:	middle;
	white-space:	nowrap;
}

/*
	Box2Hd
	見積依頼画面の項目名エリアで、罫線を点線にする場合に使用
*/
.Box2Hd {
	background-color:	#CCFFCC;
	border-top:		none;
	border-right:	1px solid #339933;
	border-bottom:1px dotted #339933;
	border-left:	1px solid #339933;
	padding-top:	4px;
	padding-right:	10px;
	padding-bottom:	4px;
	padding-left:	10px;
	text-align:	center;
	vertical-align:	middle;
	white-space:	nowrap;
}

/*
	Box2D
	見積依頼画面のデータエリアに使用
*/
.Box2D {
	background-color:	white;
	border-top:		1px solid #339933;
	border-right:	1px solid #339933;
	border-bottom:1px solid #339933;
	border-left:	1px solid #339933;
	padding-top:	2px;
	padding-right:	10px;
	padding-bottom:	2px;
	padding-left:	10px;
	text-align:	left;
	vertical-align:	middle;
}

/*
	Box2Dd
	見積依頼画面のデータエリアで、罫線を点線にする場合に使用
*/
.Box2Dd {
	background-color:	white;
	border-top:		none;
	border-right:	1px solid #339933;
	border-bottom:1px dotted #339933;
	border-left:	1px solid #339933;
	padding-top:	2px;
	padding-right:	10px;
	padding-bottom:	2px;
	padding-left:	10px;
	text-align:	left;
	vertical-align:	middle;
}

/*
	Box2G
	見積依頼画面で、外枠を太線にする場合に使用
*/
.Box2G {
	border-collapse:	collapse;
	border-top:		1px solid #339933;
	border-right:	1px solid #339933;
	border-bottom:1px solid #339933;
	border-left:	1px solid #339933;
}

.Box3H {
	background-color: #eaeaea;
	border-collapse: collapse;
	border-style:	groove;
	border-width:	2px;
	padding:	6px;
	text-align:	left;
	vertical-align:	middle;
	white-space: nowrap;
}

/*
	Box4H
	購入依頼画面の項目名エリアに使用
*/
.Box4H {
	background-color:	#ffff99;
	border-top:	1px solid #ffcc66;
	border-left:	1px solid #ffcc66;
	border-bottom:	1px solid #ffcc66;
	border-right:	1px solid #ffcc66;
	padding-top:	4px;
	padding-right:	10px;
	padding-bottom:	4px;
	padding-left:	10px;
	text-align:	center;
	vertical-align:	middle;
	white-space:	nowrap;
}

/*
	Box4Hd
	見積状況画面の項目名エリアで、罫線を点線にする場合に使用
*/
.Box4Hd {
	background-color:	#ffff99;
	border-top:	none;
	border-left:	1px solid #ffcc66;
	border-bottom:	1px dotted #ffcc66;
	border-right:	1px solid #ffcc66;
	padding-top:	4px;
	padding-right:	10px;
	padding-bottom:	4px;
	padding-left:	10px;
	text-align:	center;
	vertical-align:	middle;
	white-space:	nowrap;
}

/*
	Box4D
	見積状況画面のデータエリアに使用
*/
.Box4D {
	background-color:	#ffffcc;
	border-top:	1px solid #ffcc66;
	border-left:	1px solid #ffcc66;
	border-bottom:	1px solid #ffcc66;
	border-right:	1px solid #ffcc66;
	padding-top:	2px;
	padding-right:	10px;
	padding-bottom:	2px;
	padding-left:	10px;
	text-align:	left;
	vertical-align:	middle;
}

/*
	Box4Dd
	見積状況画面のデータエリアで、罫線を点線にする場合に使用
*/
.Box4Dd {
	background-color:	#ffffcc;
	border-top:		none;
	border-right:	1px solid #ffcc66;
	border-bottom:1px dotted #ffcc66;
	border-left:	1px solid #ffcc66;
	padding-top:	2px;
	padding-right:	10px;
	padding-bottom:	2px;
	padding-left:	10px;
	text-align:	left;
	vertical-align:	middle;
}

/*
	Box4Dr
	見積状況画面のデータエリアで、金額等に使用
*/
.Box4Dr {
	background-color:	#ffffcc;
	border-top:	1px solid #ffcc66;
	border-left:	1px solid #ffcc66;
	border-bottom:	1px solid #ffcc66;
	border-right:	1px solid #ffcc66;
	padding-top:	2px;
	padding-right:	10px;
	padding-bottom:	2px;
	padding-left:	10px;
	text-align:	right;
	vertical-align:	middle;
}

/*
.CtrlTitle {
	padding-left:	10px;
	padding-top:	4px;
	padding-bottom:	6px;
	padding-right:	10px;
}

.CtrlComment {
	padding-left:	16px;
	padding-right:	16px;
	padding-top:	4px;
}
*/

/*
	PaddingS
	テーブル内に表示した内容の、余白調整に利用(余白幅小)
*/
.PaddingS {
	padding-top:	2px;
	padding-left:	4px;
	padding-right:	2px;
	padding-bottom:	2px;
}

/*
	PaddingM
	テーブル内に表示した内容の、余白調整に利用(余白幅中)
*/
.PaddingM {
	padding-top:	4px;
	padding-left:	10px;
	padding-right:	5px;
	padding-bottom:	4px;
}

/*
	PaddingL
	テーブル内に表示した内容の、余白調整に利用(余白幅大)
*/
.PaddingL {
	padding-top:	8px;
	padding-left:	20px;
	padding-right:	10px;
}

/*
	BoxReqDateH
	カート表示で、依頼日の表示に使用（項目名部）
*/
.BoxReqDateH {
	background-color:	black;
	border-top:	2px solid black;
	border-right:	2px solid black;
	border-bottom:	2px solid black;
	border-left:	2px solid black;
	color:	white;
	padding-top:	2px;
	padding-right:	12px;
	padding-bottom:	2px;
	padding-left:	12px;
	text-align:	center;
	vertical-align:	middle;
}

/*
	BoxReqDateD
	カート表示で、依頼日の表示に使用（データ部）
*/
.BoxReqDateD {
	background-color:	white;
	border-top:	2px solid #000000;
	border-right:	2px solid #000000;
	border-bottom:	2px solid #000000;
	border-left:	2px solid #000000;
	padding-top:	2px;
	padding-right:	12px;
	padding-bottom:	2px;
	padding-left:	12px;
	text-align:	left;
	vertical-align:	middle;
}

/*
	DetailBody
	詳細画面のBodyタグに使用
*/
BODY.DetailBody {
    margin:    10px;
    padding:   none;
    text-align:    left;
    vertical-align:    top;
    width:  auto;
    height: auto;
}

/*
	DetailSheet
	詳細画面のルートテーブルに使用
*/
.DetailSheet {
	border-collapse:	collapse;
 	border-width:	0px;
	border-spacing:	0px;
 	border-style:	none;
	filter:	progid:	DXImageTransform.Microsoft.DropShadow(color=#333333,offX=4,offY=4,positive=1);
	padding:	0px;
	-webkit-box-shadow:	4px 4px 4px #000000 ; /* 影（Chrome、Safari） */
	-moz-box-shadow:	4px 4px 4px #000000 ; /* 影（FireFox） */
}

/*
	DetailTabsOn
	詳細画面の活性タブに使用
*/
.DetailTabsOn {
	background-color:	white;
	border-collapse:	collapse;
	border-top:	1px solid #666666;
	border-right:	1px solid #666666;
	border-bottom:	none;
	border-left:	1px solid #666666;
	border-spacing:	0px;
	color:	black;
	font-family:	'MS UI Gothic','Courier New','Arial';
	font-size:	9pt;
	font-weight:	Normal;
	padding-top:	6px;
	padding-bottom:	6px;
	text-align:	center;
	vertical-align:	middle;
	width:	150px;
	z-index:	1;
}

/*
	DetailTabsOff
	詳細画面の非活性タブに使用
*/
.DetailTabsOff {
	background-color:	#CCCCCC;
	border-collapse:	collapse;
	border-top:	1px solid #666666;
	border-right:	1px solid #666666;
	border-bottom:	1px solid #666666;
	border-left:	1px solid #666666;
	border-spacing:	0px;
	color:	white;
	font-family:	'MS UI Gothic','Courier New','Arial';
	font-size:	9pt;
	font-weight:	Normal;
	padding-bottom:	6px;
	padding-top:	6px;
	text-align:	center;
	vertical-align:	middle;
	width:	120px;
	z-index:	1;
}

/*
	DetailTabsNone
	詳細画面で、タブ表示エリアの左端の余白として使用
*/
.DetailTabsNone {
	background-color:	transparent
	border-collapse:	collapse;
	border-top:	none;
	border-right:	none;
	border-bottom:	1px solid #666666;
	border-left:	none;
	border-spacing:	0px;
	z-index:	1;
}

/*
	InterTab
	詳細画面で、タブ内のデータ表示エリアに使用
*/
.InterTab {
	background-color:	#FFFFFF;
	border-collapse:	collapse;
	border-top:	none;
	border-right:	1px solid #666666;
	border-bottom:	1px solid #666666;
	border-left:	1px solid #666666;
	border-spacing:	0px;
	padding:	10px;
	text-align:	left;
	vertical-align:	middle;
}

/*
	AppSheet
	個別承認画面などで、承認ルート表示部に使用
*/
.AppSheet {
	background-color:	white;
	border-top:		1px solid #666666;
	border-right:	1px solid #666666;
	border-bottom:1px solid #666666;
	border-left:	1px solid #666666;
	filter:progid:DXImageTransform.Microsoft.DropShadow(color=#333333,offX=2,offY=2,positive=1);
	padding-top: 2px;
	padding-right:	12px;
	padding-bottom:	2px;
	padding-left:	12px;
	text-align:	left;
	vertical-align:	middle;
}

/*
	AppNoArea
	個別承認画面などの承認ルート表示部で、承認順の表示エリアに使用
*/
.AppNoArea {
	padding:	6px;
	text-align:	right;
	vertical-align:top;
	white-space:	nowrap;
}

/*
	AppPersonArea
	個別承認画面などの承認ルート表示部で、承認者の表示エリアに使用
*/
.AppPersonArea {
	padding-right:	12px;
	text-align:left;
	white-space:	nowrap;
}

/*
	AppStampArea
	個別承認画面などの承認ルート表示部で、承認／承認待ちの表示エリアに使用
*/
.AppStampArea {
	text-align:	center;
	vertical-align:	middle;
	padding-left:	6px;
	padding-right:	6px;
}

/*
	AppBorder
	個別承認画面などの承認ルート表示部で、承認者を区切るラインに使用
*/
.AppBorder {
	border-top:	1px dotted #666666;
	empty-cells:	show;
	font-size:	1px;
	height:2px;
	white-space:	nowrap;
}

/*
	UploadArea
	一覧画面でアップロードボタンや一括処理ボタンが配置されている中間エリアに使用
*/
.UploadArea {
	background-color:#EAEAEA;
	border-bottom:1px solid #999999;
	height:32px;
	padding:0px;
	text-align:center;
	vertical-align:middle;
}

/*
	HomeBody
	ホーム画面のBodyタグに使用
*/
.HomeBody {
	background-color:#FFFFFF;
	font-family:	'MS UI Gothic','Courier New','Arial';
	color:	#000000;
	font-size:	9pt;

	margin:	0px,0px,0px,0px;
	padding:	0px,0px,0px,0px;

	text-align:	center;
	vertical-align:	top;
	width:	100%;
}

/*
	HomeMain
	ホーム画面のルートテーブルに使用
*/
.HomeMain {

 	border-width: 0px;
 	border-style: none;
	border-collapse: collapse;
	border-spacing:	0px;

	margin-left:auto;
	margin-right:auto;

	padding: 0px;
}

/*
	CatalogMain
	カタログ購入依頼画面の中央エリアに使用
*/
body.CatalogMain {
	background-color:ivory;
	text-align:left;
	vertical-align:top;
	width:auto;
}

/*
	LeftArea
	ホーム画面など、左右に２分割される画面で、左側のエリアに使用
*/
.LeftArea {
	padding-left:10px;
	text-align:left;
	vertical-align:top;
}

/*
	MenuHeader
	ホーム画面で、メニューエリアの上部（伝票照会リンクの部分）に使用
*/
.MenuHeader {
	background-color:white;
	padding:12px;
}

/*
	MenuCatagoly
	ホーム画面で、業務カテゴリ名に使用
*/
.MenuCatagoly {
	padding-top:12px;
	color:brown;
	border-bottom:1px solid #999999;
}

/*
	MenuTitle
	ホーム画面で、サブカテゴリ名に使用
*/
.MenuTitle {
	background-color:#FFFFFF;
	border-bottom:1px dotted #666666;
	empty-cells:	show;
	vertical-align:middle;
	white-space:nowrap;
}

/*
	MenuTitle
	ホーム画面で、お知らせタイトル名に使用
*/
.NewsTitle {
	border-bottom:1px dotted #666666;
	cursor: pointer;
	empty-cells:	show;
	padding:8px;
	white-space:nowrap;
}

/*
	MenuDetail
	ホーム画面で、クリックリンクのエリアに使用
*/
.MenuDetail {
	border-bottom:1px dotted #666666;
	background-color:#FFFFFF;
	text-align:right;
	vertical-align:middle;
}

/*
	LeftArea
	ホーム画面など、左右に２分割される画面で、右側のエリアに使用
*/
.RightArea {
	text-align:left;
	vertical-align:top;
	padding-left:20px;
}


/*
	SearchBody
	検索画面のルートテーブルに使用
*/
.SearchBody {
 	border-width: 0px;
 	border-style: none;

	padding: 0px;

	border-collapse: collapse;
	border-spacing:	0px;
	background-color: #EAEAEA;

	height:100%;
	width:100%;
	z-index:0;
}

/*
	TreeArea
	ツリーリストの表示エリアに使用
*/
body.TreeArea {
	background-color:#ECECEC;
	padding:10px;
	z-index:-1;
	text-align:left;
	height:100%;
	width:auto;
}

/*
	CountView
	カタログ購入依頼の件数表示エリアに使用
*/
.CountView {
	border:2px solid #E4E3C9;
	background-color:#E4E3C9;
	height:20px;
	width:200px;
}

/*
	CategolyView
	カタログ購入依頼のカテゴリ表示エリアに使用
*/
td.CategolyView {
	 border:2px solid #E4E3C9;
	 padding:10px;
}

/*
	CatalogImage
	カタログ用商品イメージに使用
*/
img.CatalogImage {
	border:	0px solid #666666;
	height:	50px;
	width:	50px;
}

/*
	CategolyView
	カタログ購入依頼の商品一覧で、コード等が表示されるエリアに使用
*/
td.ProductArea {
	padding-top:6px;
	padding-right:2px;
	padding-bottom:0px;
	padding-left:8px;
	vertical-align:top;
}

/*
	BoxReqDate
	カタログ購入依頼の依頼日に使用
*/
.BoxReqDate {
	border-top:		2px solid #000000;
	border-right:	2px solid #000000;
	border-bottom:2px solid #000000;
	border-left:	2px solid #000000;

	padding-top: 2px;
	padding-right: 12px;
	padding-bottom: 2px;
	padding-left: 12px;

	background-color:	#000000;
	text-align:	center;
	vertical-align:	middle;
}
.BoxReqDate2 {
	border-top:		2px solid #000000;
	border-right:	2px solid #000000;
	border-bottom:2px solid #000000;
	border-left:	2px solid #000000;

	padding-top: 2px;
	padding-right:	12px;
	padding-bottom:	2px;
	padding-left:	12px;

	background-color:	#FFFFFF;
	text-align:	left;
	vertical-align:	middle;
}

/*
	ProductComment
	カタログ品の商品説明に使用
*/
.ProductComment {
	table-layout:fixed;
	float:left;
	width:100%;
}

/*
	Separator
	一覧の区切り線に使用
*/
.Separator {
	border-bottom:1px dashed #666666;
}

/*
 サイズ指定用
*/
.w_size {
	width:100%;
}

/*
 ロールマスタの一覧画面用
*/
.RoleHeaderLeft{
	background-color:#F5F5F5;
	border:1px solid white;
	padding:4px;
	vertical-align:top;
}
/*
 ロールマスタの一覧画面用
*/
.RoleHeaderRight{
	background-color:#E6E6FA;
	border:1px solid white;
	padding:4px;
	vertical-align:top;
}
/*
 ロールマスタの一覧画面用
*/
.RoleDetail{
	background-color:#FFFFCC;
	border-right:1px dotted #CCCCCC;
	text-align:center;
	vertical-align:middle;
	padding:1px;
}

/*
 ロールマスタの画面用
*/
.RoleLine{
	line-height:0.2;
}
.BoxInfo {
	font-family:'MS UI Gothic','Courier New','Arial';
	font-size:  9pt;
	font-weight:	Normal;

	border-top:		1px solid #C5CED7;
	border-right:	1px solid #C5CED7;
	border-bottom:1px solid #C5CED7;
	border-left:	1px solid #C5CED7;

	padding-top: 12px;
	padding-right:	12px;
	padding-bottom:	12px;
	padding-left:	12px;

	background-color:	#FFFFFF;
	text-align:	left;
	vertical-align:	top;
}

/*
 一覧の差戻しコメント用
*/
.ListComment{
	width=100%;
	overflow:hidden;
	display:none;
	background-color:#EAEAEA;
}
/*
 一覧の差戻し先用
*/
.ListCommentUser{
	display:none;
	background-color:#EAEAEA;
}
/*
 個別承認画面の一覧枠用
*/
.ListBorderWidth{
	border-width:2px;
}

/************************************************************************************/
/*     ポップアップのカレンダー用                                                 	*/
/************************************************************************************/
/*
 ポップアップのカレンダー用
 罫線を表示しない
*/
.CalenderNoBorder{
	border-collapse:	collapse;
	border-spacing:	0px;
 	border-style:	none;
 	border-width:	0px;
	padding:	0px;

	width:170px;
	position:absolute;
	z-index:9;
}
/*
 ポップアップのカレンダー用
 罫線を表示しない
*/
.CalenderTriangular{
	border-collapse:	collapse;
	border-spacing:	0px;
 	border-style:	none;
 	border-width:	0px;
	padding:	0px;

	height:16px;
	margin-left:20px;
	margin-right:20px;
}
/*
 ポップアップのカレンダー用
 左寄せ
*/
.CalenderTextLeft{
	text-align:left;
}
/*
 ポップアップのカレンダー用
 左寄せ
 カーソルを指アイコン
*/
.CalenderTextLeftCursor{
	text-align:left;
	cursor:pointer;
}
/*
 ポップアップのカレンダー用
 右寄せ
*/
.CalenderTextRight{
	text-align:right;
}
/*
 ポップアップのカレンダー用
 右寄せ
 カーソルを指アイコン
*/
.CalenderTextRightCursor{
	text-align:right;
	cursor:pointer;
}
/*
 ポップアップのカレンダー用
 中央寄せ
*/
.CalenderTextCenter{
	text-align:center;
}
/*
 ポップアップのカレンダー用
 中央寄せ
 カーソルを指アイコン
*/
.CalenderTextCenterCursor{
	text-align:center;
	cursor:pointer;
}

/*
見積回答入力画面用
*/
.HomeBox {
    background-color:#FFFFFF;
    border: 1px solid #333333;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    behavior: url("../../include/ie-css3.htc");
    zoom:1;
    z-index:0;
    padding:16px;
    box-shadow: 3px 3px 0px #000000;
    margin-left:auto;
    margin-right:auto;
}

/*
 画面中央制御ボタン用
*/
body.CenterButtonBody {
	vertical-align:top;
	background-color:#EAEAEA;
	margin-top: 0px;
}

/*
エラーメッセージの表示用
*/
.error {
	border-collapse: collapse;
	border-spacing: 0px;
	border-style: none;
	border-width: 0px;
	color:red;
	font-size:8pt;
	background-color:white;
	padding: 15px 0 0 20px;
	text-align: left;
}

.RoleName {
    font-family:    'MS UI Gothic','Courier New','Arial';
    color:  #FFCC33;
    font-size:  8pt;
    font-weight:    normal;

    padding:    0px,6px,0px,0px;
}

TD.SearchArea {
    border-bottom:1px solid #999999;
    color: #000000;

    font-family:'MS UI Gothic','Courier New','Arial';
    font-size:  11pt;
    font-weight:    Normal;

    height:0px;

    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;

    text-align:center;
    vertical-align:top;
    
    background-color:  #EAEAEA;
}

A:link    {color:blue}

A:visited {color:blue;}

A:active  {color:darkblue;}

A:hover   {color:darkblue;}

.DetailSection {
    font-family:    'MS UI Gothic','Courier New','Arial';
    color:  brown;
    font-size:  8pt;
    font-weight:    Normal;
    text-decoration:underline;
}

.MiddleBoldAnk {
    font-family:'Verdana','Arial';
    font-size:  10pt;
    font-weight:    bold;
}

.BoldAnk {
    font-family:'Verdana','Arial';
    font-size:  8pt;
    font-weight:    bold;
}

.NormalAnk {
    font-family:'Verdana','Arial';
    font-size:  8pt;
    font-weight:    normal;
}

/*
    【HTML5対応】
    iframeタグの共通スタイル
*/
iframe {
    border:     0px;
    overflow:   auto;
    overflow-x: auto;
    overflow-y: auto;
    width:      100%;
    height:     100%;
    position:   relative;
}
