<!doctype html>
<html lang="ja">
<head>
#set($commonTitle = "#customSpringMessage('DELIV_DATE_RESP')")
<title>$commonTitle</title><!--納期回答-->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery.tablefix.js"></script>
<script language="javascript" type="text/javascript">
<!--
#parse("./common/common_js.vm")
## ビューが初めて表示される直前に発生します。
function onLoad(){
    parentButtonEnable();
    dataLoadHasPage();
    var alertMessage="$!alertMessage";
    if(alertMessage!=""){
        buttonUsableForList(alertMessage);
        alert(alertMessage);
    }
    var errorMsg="$!errorMessage";
    if(errorMsg!=""){
        return;
    }
    var isShowDetail="#jsEscape($!isShowDetail)";
    if(isShowDetail=="true"){
        parent.poppage("${flowExecutionUrl}&_eventId=detail&&type=detailDelivResp","DETAIL","800","700");
        return;
    }
    var isShowAnswerDetail="#jsEscape($!isShowAnswerDetail)";
    if(isShowAnswerDetail=="true"){
        parent.poppage("${flowExecutionUrl}&_eventId=answerDetail","DETAIL","800","500");
        return;
    }
    var isShowInputEach="#jsEscape($!isShowInputEach)";
    if(isShowInputEach=="true"){
         top.iframeChange('${flowExecutionUrl}&_eventId=answerInputEach',"pageid","SPANS030");
         return;
    }
}
## 「詳細」ボタンをクリックしたときに発生します。
function openDetail(orderSeq,delivMngSeq,exclusiveSlipNo,exclusiveLastUpdDate){
    parent.iframeChange("${flowExecutionUrl}&_eventId=detailValidate",
                        "orderIdentify.orderSeq",orderSeq,
                        "delivMngIdentify.delivMngSeq",delivMngSeq,
                        'orderIdentify.exclusiveSlipId.slipNo',exclusiveSlipNo,
                        'orderIdentify.exclusiveSlipId.lastUpdDate',exclusiveLastUpdDate,
                        "HIDDENAREA");
}
## 「前回回答」リンクをクリックしたときに発生します。
function openAnsDetail(orderSeq,delivMngSeq,exclusiveSlipNo,exclusiveLastUpdDate){
    parent.iframeChange("${flowExecutionUrl}&_eventId=answerDetailValidate",
                        "orderIdentify.orderSeq",orderSeq,
                        "delivMngIdentify.delivMngSeq",delivMngSeq,
                        'orderIdentify.exclusiveSlipId.slipNo',exclusiveSlipNo,
                        'orderIdentify.exclusiveSlipId.lastUpdDate',exclusiveLastUpdDate,
                        "HIDDENAREA");
}
## 「納期回答入力」ボタンをクリックしたとき発生します。
function openAction(orderSeq,delivMngSeq,exclusiveSlipNo,exclusiveLastUpdDate){
    buttonDisable();
    parent.iframeChange("${flowExecutionUrl}&_eventId=answerInputEachValidate",
                        "orderIdentify.orderSeq",orderSeq,
                        "delivMngIdentify.delivMngSeq",delivMngSeq,
                        'orderIdentify.exclusiveSlipId.slipNo',exclusiveSlipNo,
                        'orderIdentify.exclusiveSlipId.lastUpdDate',exclusiveLastUpdDate,
                        "HIDDENAREA");
}
//-->
</script>
</head>
<body id="BODY" class="DataArea" onload="onLoad();setTablefix('#TABLE',1,3);" >
#if($!errorMessage && $!errorMessage!="")
<div id="error" class="error">
    $!errorMessage
</div>
#end
#if($!itemList.delivRespListItemList && $!itemList.delivRespListItemList.size() > 0)
<form id="BodyForm" name="BodyForm" method="post">
<table id="TABLE" class="ListArea" width="100%">
    <thead>
        <tr id="Header">
            <th class="BoxHeaderCenter FontSmall">No.<!--No.--></th>
            <th class="BoxHeaderCenter FontSmall">#customSpringMessage('DETAIL')<!--詳細--></th>
            <th class="BoxHeaderCenter FontSmall" >#customSpringMessage('ACTION')<!--処理--></th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="V_DLV_RESP.DELIV_VERSION"
                onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','V_DLV_RESP.DELIV_VERSION')">
            	<span class="BoxHeaderSortItem">#customSpringMessage('REVISION_NUMBER')<!--履歴番号--></span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="V_DLV_RESP.DELIV_DATE_RESP_STATUS"
                onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','V_DLV_RESP.DELIV_DATE_RESP_STATUS')">
            	<span class="BoxHeaderSortItem">#customSpringMessage('STATUS')<!--状態--></span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall"
                id="V_DLV_RESP.ORDER_NO" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','V_DLV_RESP.ORDER_NO')">
                <span class="BoxHeaderSortItem">#customSpringMessage('ORDER_NO')<!--注文番号--></span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="V_DLV_RESP.BUYER_COMPANY_NAME"
                onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','V_DLV_RESP.BUYER_COMPANY_NAME')">
                <span class="BoxHeaderSortItem">#customSpringMessage('BUYER_COMPANY')<!--発注企業--></span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="V_DLV_RESP.ITEM_NAME"
                onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','V_DLV_RESP.ITEM_NAME')">
                <span class="BoxHeaderSortItem">#customSpringMessage('ITEM_NAME')<!--品名--></span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="V_DLV_RESP.CUST_ITEM_CD"
                onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','V_DLV_RESP.CUST_ITEM_CD')">
                <span class="BoxHeaderSortItem">#customSpringMessage('ITEM_CD')<!--品名コード--></span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="V_DLV_RESP.KATASHIKI"
                onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','V_DLV_RESP.KATASHIKI')">
                <span class="BoxHeaderSortItem">#customSpringMessage('KATASHIKI')<!--型式--></span>
            </th>
            <th class="BoxHeaderCenter FontSmall">
                #customSpringMessage('DELIV_CHECK_DATE')<!--納期確認日-->
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="V_DLV_RESP.RESP_LIMIT_DATE"
                onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','V_DLV_RESP.RESP_LIMIT_DATE')">
                <span class="BoxHeaderSortItem">#customSpringMessage('DELIV_RCV_LIMIT')<!--納期回答期限--></span>
            </th>
            <th class="BoxHeaderCenter FontSmall">
                #customSpringMessage('CHECK_DELIV_DATE')<!--確認納期-->
            </th>
            <th class="BoxHeaderCenter FontSmall">
                #customSpringMessage('DELIV_RCV_DATE')<!--納期回答日-->
            </th>
            <th class="BoxHeaderCenter FontSmall">
                #customSpringMessage('QUOT_RESP_DELIV_DATE')<!--回答納期-->
            </th>
            <th class="BoxHeaderCenter FontSmall" >
                #customSpringMessage('CHECK_AMOUNT')<!--確認数量-->
            </th>
            <th class="BoxHeaderCenter FontSmall" >
                #customSpringMessage('QUOT_RESP_VOL')<!--回答数量-->
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="V_DLV_RESP.UNIT_NAME"
                onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','V_DLV_RESP.UNIT_NAME')">
                <span class="BoxHeaderSortItem">#customSpringMessage('UNIT')<!--単位--></span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="V_DLV_RESP.ORDER_FIRST_DATE"
                onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','V_DLV_RESP.ORDER_FIRST_DATE')">
                <span class="BoxHeaderSortItem">#customSpringMessage('ORDER_DATE')<!--注文日--></span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="V_DLV_RESP.DELIVERY_DATE"
                onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','V_DLV_RESP.DELIVERY_DATE')">
                <span class="BoxHeaderSortItem">#customSpringMessage('ORDER_DELIV_DATE')<!--注文納期--></span>
            </th>
            <th class="BoxHeaderCenter FontSmall">
                #customSpringMessage('ORDER_VOL')<!--注文数量-->
            </th>
            <th label="num" class="BoxHeaderCenter FontSmall" id="V_DLV_RESP.REMAINING_VOL"
                onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','V_DLV_RESP.REMAINING_VOL')">
                <span class="BoxHeaderSortItem">#customSpringMessage('ORDER_REMAIN_AMOUNT')<!--注文残数量--></span>
            </th>
        </tr>
    </thead>
    <tbody>
    #foreach($!item in $itemList.delivRespListItemList)
        <tr id="Row_$foreach.index" name="Row_$foreach.index" #if($foreach.index % 2 == 0) bgcolor="#dce4ef" #else bgcolor="#ffffff" #end>
            <td class="BoxDetailCenter FontList">$foreach.count</td><!--No.-->
            <td class="BoxDetailCenter"><!--詳細-->
                <img id="DetailButton_0" class="Icon" src="../../image/btnDetailDisp.gif"
                    onclick="openDetail('#jsEscapeInHTML($!item.delivRespListItemIdentify.orderIdentify.orderSeq)'
                                       ,'#jsEscapeInHTML($!item.delivRespListItemIdentify.delivMngIdentify.delivMngSeq)'
                                       ,'#jsEscapeInHTML($!item.delivRespListItemIdentify.orderIdentify.exclusiveSlipId.slipNo)'
                                       ,'#jsEscapeInHTML($!item.delivRespListItemIdentify.orderIdentify.exclusiveSlipId.lastUpdDate)');">
            </td>
            <td class="BoxDetailLeft"><!--納期回答入力-->
                <input type="button" class="MiniButton" value="#customSpringMessage('DELIV_RCV_INPUT')"
                    onclick="openAction('#jsEscapeInHTML($!item.delivRespListItemIdentify.orderIdentify.orderSeq)'
                                       ,'#jsEscapeInHTML($!item.delivRespListItemIdentify.delivMngIdentify.delivMngSeq)'
                                       ,'#jsEscapeInHTML($!item.delivRespListItemIdentify.orderIdentify.exclusiveSlipId.slipNo)'
                                       ,'#jsEscapeInHTML($!item.delivRespListItemIdentify.orderIdentify.exclusiveSlipId.lastUpdDate)');">
            </td>
            <td class="BoxDetailCenter FontList" nowrap><!--履歴番号-->
                #out($!item.revisionNumber)
            </td>
            <td class="BoxDetailCenter FontMiniAnkBold" nowrap><!--状態-->
                #out($!item.status_PageValue)
            </td>
            <td class="BoxDetailLeft FontSlipNo" nowrap><!--注文番号-->
                #out($!item.orderNo)
            </td>
            <td class="BoxDetailLeft FontList" nowrap><!--発注企業-->
                #out($!item.buyerCompanyName)
            </td>
            <td class="BoxDetailLeft FontList" nowrap><!--品名-->
                #out($!item.itemName)
            </td>
            <td class="BoxDetailLeft FontList" nowrap><!--品名コード-->
                #out($!item.itemCd)
            </td>
            <td class="BoxDetailLeft FontList" nowrap><!--型式-->
                #out($!item.katashiki)
            </td>
            <td class="BoxDetailCenter FontList" nowrap><!--納期確認日-->
                #out($!item.delivCheckDate.dateListDisp)
            </td>
            <td class="BoxDetailCenter FontList" nowrap><!--納期回答期限-->
                #out($!item.delivRcvLimit.dateOfymdFormat)
            </td>
            <td class="BoxDetailCenter FontList" nowrap><!--確認納期-->
            #foreach($!inqRespItem in $!item.inqRespItemList)
                #out($!inqRespItem.checkDelivDate.dateOfymdFormat)<br>
            #end
            </td>
            <td class="BoxDetailCenter FontList" nowrap><!--納期回答日-->
                #out($!item.delivRcvDate.dateListDisp)
        #if($!item.preDelivMngIdentify.delivMngSeq!='')
                <br/><a href="#" onclick="
                    openAnsDetail('#jsEscapeInHTML($!item.delivRespListItemIdentify.orderIdentify.orderSeq)'
                                 ,'#jsEscapeInHTML($!item.preDelivMngIdentify.delivMngSeq)'
                                 ,'#jsEscapeInHTML($!item.delivRespListItemIdentify.orderIdentify.exclusiveSlipId.slipNo)'
                                 ,'#jsEscapeInHTML($!item.delivRespListItemIdentify.orderIdentify.exclusiveSlipId.lastUpdDate)');">
                    #customSpringMessage('LAST_RCV')<!--前回回答-->
                </a>&nbsp;
        #end
            </td>
            <td class="BoxDetailCenter FontList" nowrap><!--回答納期-->
            #foreach($!inqRespItem in $!item.respItemList)
                #out($!inqRespItem.respDelivDate.dateOfymdFormat)<br>
            #end
            </td>
            <td class="BoxDetailRight FontList2" nowrap><!--確認数量-->
            #foreach($!inqRespItem in $!item.inqRespItemList)
                #out($!inqRespItem.checkAmount.volFormat)<br>
            #end
            </td>
            <td class="BoxDetailRight FontList2" nowrap><!--回答数量-->
            #foreach($!inqRespItem in $!item.respItemList)
                #out($!inqRespItem.respVol.volFormat)<br>
            #end
            </td>
            <td class="BoxDetailCenter FontList" nowrap><!--確認数量-->
                #out($!item.unit)
            </td>
            <td class="BoxDetailCenter FontList" nowrap><!--回答数量-->
                #out($!item.orderDate.dateOfymdFormat)
            </td>
            <td class="BoxDetailCenter FontList" nowrap><!--注文日-->
                #out($!item.orderDelivDate.dateOfymdFormat)
            </td>
            <td class="BoxDetailRight FontList2" nowrap><!--注文納期-->
                #out($!item.originVol.volFormat)
            </td>
            <td class="BoxDetailRight FontList2" nowrap><!--注文残数量-->
                #out($!item.orderRemainAmount.volFormat)
            </td>
        </tr>
    #end
    </tbody>
</table>
</form>
#end
<table id="WAIT" class="NoBorder" style="display:none;width:100%;"><tr><td style="text-align:center;"><br><br>
<img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')<!--問い合わせ中...--></span></td></tr></table>
</body>
</html>