<!doctype html>
<html lang="ja">
<head>
<title>一括承認</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_LAYOUT" rel="stylesheet" href="../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../include/searchbox.css" type="text/css">
<script language="javascript" type="text/javascript" src="../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../include/searchbox.js"></script>
<script language="javascript" type="text/javascript">
<!--
function changeFontSize() {
	changeFontSize0();
}

function exec(){

parent.exec();

}
-->
</script>

</head>
<body style="vertical-align:top;background-color:#EAEAEA;" topmargin="0">
<form name="Body">
	<table class="NoBorder" width="100%" style="margin:auto;">
		<tr>
			<td align="left">
				<table width="100%">
					<tr>
						<td align="right">
							<input id="button_exec_nm" class="SmallButton" type="button" value="一括承認" onclick="exec();">
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</form>
</body>
</html>
