<span class="CornerTopGray">
<span class="Corner1"></span> <span class="Corner2"></span> <span class="Corner3"></span><span class="Corner4"></span>
</span>
<table class="CornerMidGray" width="100%">
    <tr>
        <td width="30%" align="left">
            <table class="NoBorder">
                <tr>
                    <td align="right" valign="top" width="10%">
                        <img id="PIN0" class="Icon" onclick="pin(1);" src="../../image/btnPinOff.gif" style="display:none;"><!-- ピンを止めると、検索エリアを開いた状態に固定できます。-->
                        <img id="PIN1" class="Icon" onclick="pin(0);" src="../../image/btnPinOn.gif" style="display:none;"><!-- ピンを止めると、検索エリアを開いた状態に固定できます。-->
                    </td>
                    <td class="ScreenName"><script language="javascript" type="text/javascript">document.write(document.title)</script></td>
                </tr>
            </table>
        </td>
        <td width="5%" align="left">
            <img id="PageFirst" class="Icon" src="../../image/btnPageFirst.gif" >
            <img id="PageFirstOn" class="Icon" style="display:none" src="../../image/btnPageFirstOn.gif" ></td><!-- 最初のページへ-->
        <td width="5%" align="left">
            <img id="PagePrev"  class="Icon" src="../../image/btnPagePrev.gif" >
            <img id="PagePrevOn" class="Icon" style="display:none" src="../../image/btnPagePrevOn.gif" ></td><!-- 前のページへ -->
        <td width="20%" align="center" class="FontSmallBold" nowrap><b>#customSpringMessage('PAGING_TOTAL')<!-- 全 -->&nbsp;
            <span id="COUNT" id="COUNT" class="FontMiddleAnkBold">0</span>&nbsp;#customSpringMessage('PAGING_COUNT')<!-- 件 -->&nbsp;&nbsp;
            <select name="PageNo" id="PAGENO" class="FontMiddleAnkBold">
                <option></option>
            </select>
            /&nbsp;<span id="PAGECOUNT" class="FontMiddleAnkBold">0</span>&nbsp;#customSpringMessage('PAGING_PAGE')<!-- ページ --></b></td>
        <td width="5%" align="right">
            <img id="PageNext" class="Icon" src="../../image/btnPageNext.gif" >
            <img id="PageNextOn" class="Icon" style="display:none" src="../../image/btnPageNextOn.gif" ><!-- 次のページへ --></td>
        <td width="5%" align="right">
            <img id="PageLast" class="Icon" src="../../image/btnPageLast.gif" >
            <img id="PageLastOn" class="Icon" style="display:none" src="../../image/btnPageLastOn.gif" ><!-- 最後のページへ --></td>
        <td width="20%" align="right">
        </td>
        <td width="10%"  align="center">
            <input type="button" class="SmallButton" value="#customSpringMessage('ACTION_CREATE')" onclick="openDetailNew();"><!-- 新規作成 -->
        </td>
    </tr>
</table>
<span class="CornerBtmGray">
<span class="Corner4"></span> <span class="Corner3"></span> <span class="Corner2"></span><span class="Corner1"></span>
</span>