<table class="NoBorder" width="100%" style="margin:auto;">
    <tr>
        <td align="center">
        </td>
        <td align="right">
            <input class="SmallButton" type="button" value="#customSpringMessage('ACTION_DOWNLOAD')" onclick="javascript:doDownload()">
        </td>
    </tr>
</table>