<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage('VL_common_upload_title')</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_CORNERS" rel="stylesheet" href="../../include/Color.css" type="text/css">
<link id="CSS_LAYOUT" rel="stylesheet" href="../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../include/searchbox.css" type="text/css">
<script language="javascript" type="text/javascript" src="../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../include/searchbox.js"></script>
<script language="javascript" type="text/javascript">
<!--
function changeFontSize() {
	changeFontSize0();
}

-->
</script>

</head>
<body style="vertical-align:top;background-color:#EAEAEA;" topmargin="0">
<form name="Body">
	<table class="NoBorder" width="100%" style="margin:auto;">
		<tr>
			<td>
				<table>
					<tr>
						<td class="FontMini DarkBlue">
							#customSpringMessage('UPLOAD_FILE')：&nbsp;<input class="Small" type="file" size="80">
						</td>
						<td align="left">
							<input class="SmallButton" type="button" value="#customSpringMessage('ACTION_UPLOAD')">
						</td>
					</tr>
				</table>
			</td>
			<td align="center">
			</td>
			<td align="right">
			</td>
		</tr>
	</table>
</form>
</body>
</html>
