<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sp.check.impl.business.ArrivalDelivKeyNoVersionConfirmMapper">

    <select id="getNumberForUnacknowledged" resultType="Integer">
        SELECT COUNT(S_NEW_ARV.ACC_CD)
          FROM S_NEW_ARV        
        <where>
            S_NEW_ARV.ACC_CD =#{utlUserCd} 
           AND S_NEW_ARV.CUST_CD =#{buyerCompanyCd} 
           AND S_NEW_ARV.ORDER_NO =#{orderNo} 
           AND S_NEW_ARV.DELIV_KEY_NO = #{delivKeyNo}
           AND S_NEW_ARV.DELIV_VERSION &lt; #{delivKeyNoVersion}
           AND S_NEW_ARV.DPO_FLG = '0'
        </where>   
    </select>

</mapper>
