<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sp.check.impl.business.ArvexpDateMapper">

    <select id="getArvexpDate" resultType="fw.domain.mst.basicvocabulary.candidate.Vol">
       SELECT REMAINING_VOL as vol
         FROM S_ORDER
        <where>
               ACC_CD = #{accCd}
               AND CUST_CD = #{custCd}
               AND ORDER_NO = #{orderNo}
               AND ORDER_VERSION = #{historyNo}
        </where>   
    </select>    
</mapper>
