<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sp.check.impl.business.SupFromPasswordConfirmMapper">

    <select id="searchCount"  resultType="int">
       SELECT COUNT(PASSWORD)
              FROM M_S_USER
        <where>
               PASSWORD = #{password}
               AND S_USER_ID = #{supplierUserId}
               AND TERM_FLG ='0'
        </where>   
    </select>    
</mapper>
