<!doctype html>
<HTML LANG="ja">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<HEAD>
<SCRIPT LANGUAGE="javascript" TYPE="text/javascript">
<!--
function onLoad() {
    var url = location.href;
    var systemPath = url.substring(url.indexOf("=")+1,url.length);
    top.location.href = "$!requestContext.contextPath/hme/" + systemPath + "HME010";
}

//-->
</SCRIPT>
</HEAD>

<BODY ONLOAD="onLoad();">
</BODY>
</HTML>
